@charset "UTF-8";
/* noto-sans-regular - latin_latin-ext */
@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/noto-sans-v6-latin_latin-ext-regular.eot");
  /* IE9 Compat Modes */
  src: local("Noto Sans"), local("NotoSans"), url("../fonts/noto-sans-v6-latin_latin-ext-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/noto-sans-v6-latin_latin-ext-regular.woff2") format("woff2"), url("../fonts/noto-sans-v6-latin_latin-ext-regular.woff") format("woff"), url("../fonts/noto-sans-v6-latin_latin-ext-regular.ttf") format("truetype"), url("../fonts/noto-sans-v6-latin_latin-ext-regular.svg#NotoSans") format("svg");
  /* Legacy iOS */
}
/* noto-sans-italic - latin_latin-ext */
@font-face {
  font-family: "Noto Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/noto-sans-v6-latin_latin-ext-italic.eot");
  /* IE9 Compat Modes */
  src: local("Noto Sans Italic"), local("NotoSans-Italic"), url("../fonts/noto-sans-v6-latin_latin-ext-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/noto-sans-v6-latin_latin-ext-italic.woff2") format("woff2"), url("../fonts/noto-sans-v6-latin_latin-ext-italic.woff") format("woff"), url("../fonts/noto-sans-v6-latin_latin-ext-italic.ttf") format("truetype"), url("../fonts/noto-sans-v6-latin_latin-ext-italic.svg#NotoSans") format("svg");
  /* Legacy iOS */
}
/* noto-sans-700 - latin_latin-ext */
@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/noto-sans-v6-latin_latin-ext-700.eot");
  /* IE9 Compat Modes */
  src: local("Noto Sans Bold"), local("NotoSans-Bold"), url("../fonts/noto-sans-v6-latin_latin-ext-700.eot?#iefix") format("embedded-opentype"), url("../fonts/noto-sans-v6-latin_latin-ext-700.woff2") format("woff2"), url("../fonts/noto-sans-v6-latin_latin-ext-700.woff") format("woff"), url("../fonts/noto-sans-v6-latin_latin-ext-700.ttf") format("truetype"), url("../fonts/noto-sans-v6-latin_latin-ext-700.svg#NotoSans") format("svg");
  /* Legacy iOS */
}
/* roboto-slab-regular - latin_latin-ext */
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-slab-v6-latin_latin-ext-regular.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Slab Regular"), local("RobotoSlab-Regular"), url("../fonts/roboto-slab-v6-latin_latin-ext-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-slab-v6-latin_latin-ext-regular.woff2") format("woff2"), url("../fonts/roboto-slab-v6-latin_latin-ext-regular.woff") format("woff"), url("../fonts/roboto-slab-v6-latin_latin-ext-regular.ttf") format("truetype"), url("../fonts/roboto-slab-v6-latin_latin-ext-regular.svg#RobotoSlab") format("svg");
  /* Legacy iOS */
}
/* inconsolata-regular - latin */
@font-face {
  font-family: "Inconsolata";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inconsolata-v15-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Inconsolata Regular"), local("Inconsolata-Regular"), url("../fonts/inconsolata-v15-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/inconsolata-v15-latin-regular.woff2") format("woff2"), url("../fonts/inconsolata-v15-latin-regular.woff") format("woff"), url("../fonts/inconsolata-v15-latin-regular.ttf") format("truetype"), url("../fonts/inconsolata-v15-latin-regular.svg#Inconsolata") format("svg");
  /* Legacy iOS */
}
/* raleway-500 - latin_latin-ext */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/raleway-v11-latin_latin-ext-500.eot");
  /* IE9 Compat Modes */
  src: local("Raleway Medium"), local("Raleway-Medium"), url("../fonts/raleway-v11-latin_latin-ext-500.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-v11-latin_latin-ext-500.woff2") format("woff2"), url("../fonts/raleway-v11-latin_latin-ext-500.woff") format("woff"), url("../fonts/raleway-v11-latin_latin-ext-500.ttf") format("truetype"), url("../fonts/raleway-v11-latin_latin-ext-500.svg#Raleway") format("svg");
  /* Legacy iOS */
}
/* raleway-regular - latin_latin-ext */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/raleway-v11-latin_latin-ext-regular.eot");
  /* IE9 Compat Modes */
  src: local("Raleway"), local("Raleway-Regular"), url("../fonts/raleway-v11-latin_latin-ext-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-v11-latin_latin-ext-regular.woff2") format("woff2"), url("../fonts/raleway-v11-latin_latin-ext-regular.woff") format("woff"), url("../fonts/raleway-v11-latin_latin-ext-regular.ttf") format("truetype"), url("../fonts/raleway-v11-latin_latin-ext-regular.svg#Raleway") format("svg");
  /* Legacy iOS */
}
/*!
Pure v0.6.2
Copyright 2013 Yahoo!
Licensed under the BSD License.
https://github.com/yahoo/pure/blob/master/LICENSE.md
*/
/*!
normalize.css v^3.0 | MIT License | git.io/normalize
Copyright (c) Nicolas Gallagher and Jonathan Neal
*/
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
.pure-button:focus, a:active, a:hover {
  outline: 0;
}

.pure-table, table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, optgroup, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre, textarea {
  overflow: auto;
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

.pure-button, input {
  line-height: normal;
}

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

.pure-button, .pure-form input:not([type]), .pure-menu {
  box-sizing: border-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend, td, th {
  padding: 0;
}

legend {
  border: 0;
}

.hidden, [hidden] {
  display: none !important;
}

.pure-img {
  max-width: 100%;
  height: auto;
  display: block;
}

.pure-g {
  letter-spacing: -0.31em;
  text-rendering: optimizespeed;
  font-family: FreeSans, Arimo, "Droid Sans", Helvetica, Arial, sans-serif;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  table .pure-g {
    display: block;
  }
}
.opera-only :-o-prefocus, .pure-g {
  word-spacing: -0.43em;
}

.pure-u, .pure-u-1, .pure-u-1-1, .pure-u-1-12, .pure-u-1-2, .pure-u-1-24, .pure-u-1-3, .pure-u-1-4, .pure-u-1-5, .pure-u-1-6, .pure-u-1-8, .pure-u-10-24, .pure-u-11-12, .pure-u-11-24, .pure-u-12-24, .pure-u-13-24, .pure-u-14-24, .pure-u-15-24, .pure-u-16-24, .pure-u-17-24, .pure-u-18-24, .pure-u-19-24, .pure-u-2-24, .pure-u-2-3, .pure-u-2-5, .pure-u-20-24, .pure-u-21-24, .pure-u-22-24, .pure-u-23-24, .pure-u-24-24, .pure-u-3-24, .pure-u-3-4, .pure-u-3-5, .pure-u-3-8, .pure-u-4-24, .pure-u-4-5, .pure-u-5-12, .pure-u-5-24, .pure-u-5-5, .pure-u-5-6, .pure-u-5-8, .pure-u-6-24, .pure-u-7-12, .pure-u-7-24, .pure-u-7-8, .pure-u-8-24, .pure-u-9-24 {
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto;
  display: inline-block;
  zoom: 1;
}

.pure-g [class*=pure-u] {
  font-family: sans-serif;
}

.pure-u-1-24 {
  width: 4.1667%;
}

.pure-u-1-12, .pure-u-2-24 {
  width: 8.3333%;
}

.pure-u-1-8, .pure-u-3-24 {
  width: 12.5%;
}

.pure-u-1-6, .pure-u-4-24 {
  width: 16.6667%;
}

.pure-u-1-5 {
  width: 20%;
}

.pure-u-5-24 {
  width: 20.8333%;
}

.pure-u-1-4, .pure-u-6-24 {
  width: 25%;
}

.pure-u-7-24 {
  width: 29.1667%;
}

.pure-u-1-3, .pure-u-8-24 {
  width: 33.3333%;
}

.pure-u-3-8, .pure-u-9-24 {
  width: 37.5%;
}

.pure-u-2-5 {
  width: 40%;
}

.pure-u-10-24, .pure-u-5-12 {
  width: 41.6667%;
}

.pure-u-11-24 {
  width: 45.8333%;
}

.pure-u-1-2, .pure-u-12-24 {
  width: 50%;
}

.pure-u-13-24 {
  width: 54.1667%;
}

.pure-u-14-24, .pure-u-7-12 {
  width: 58.3333%;
}

.pure-u-3-5 {
  width: 60%;
}

.pure-u-15-24, .pure-u-5-8 {
  width: 62.5%;
}

.pure-u-16-24, .pure-u-2-3 {
  width: 66.6667%;
}

.pure-u-17-24 {
  width: 70.8333%;
}

.pure-u-18-24, .pure-u-3-4 {
  width: 75%;
}

.pure-u-19-24 {
  width: 79.1667%;
}

.pure-u-4-5 {
  width: 80%;
}

.pure-u-20-24, .pure-u-5-6 {
  width: 83.3333%;
}

.pure-u-21-24, .pure-u-7-8 {
  width: 87.5%;
}

.pure-u-11-12, .pure-u-22-24 {
  width: 91.6667%;
}

.pure-u-23-24 {
  width: 95.8333%;
}

.pure-u-1, .pure-u-1-1, .pure-u-24-24, .pure-u-5-5 {
  width: 100%;
}

.pure-button {
  display: inline-block;
  zoom: 1;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.pure-button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.pure-button-group {
  letter-spacing: -0.31em;
  text-rendering: optimizespeed;
}

.opera-only :-o-prefocus, .pure-button-group {
  word-spacing: -0.43em;
}

.pure-button {
  font-family: inherit;
  font-size: 100%;
  padding: 0.5em 1em;
  color: #444;
  color: rgba(0, 0, 0, 0.8);
  border: 1px solid #999;
  border: transparent;
  background-color: #E6E6E6;
  text-decoration: none;
  border-radius: 2px;
}

.pure-button-hover, .pure-button:focus, .pure-button:hover {
  filter: alpha(opacity=90);
  background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1));
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1));
}

.pure-button-active, .pure-button:active {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset, 0 0 6px rgba(0, 0, 0, 0.2) inset;
  border-color: #000 \9 ;
}

.pure-button-disabled, .pure-button-disabled:active, .pure-button-disabled:focus, .pure-button-disabled:hover, .pure-button[disabled] {
  border: none;
  background-image: none;
  filter: alpha(opacity=40);
  opacity: 0.4;
  cursor: not-allowed;
  box-shadow: none;
  pointer-events: none;
}

.pure-button-hidden {
  display: none;
}

.pure-button-primary, .pure-button-selected, a.pure-button-primary, a.pure-button-selected {
  background-color: #0078e7;
  color: #fff;
}

.pure-button-group .pure-button {
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto;
  margin: 0;
  border-radius: 0;
  border-right: 1px solid #111;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.pure-button-group .pure-button:first-child {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.pure-button-group .pure-button:last-child {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-right: none;
}

.pure-form input[type=password], .pure-form input[type=email], .pure-form input[type=url], .pure-form input[type=date], .pure-form input[type=month], .pure-form input[type=time], .pure-form input[type=datetime], .pure-form input[type=datetime-local], .pure-form input[type=week], .pure-form input[type=tel], .pure-form input[type=color], .pure-form input[type=number], .pure-form input[type=search], .pure-form input[type=text], .pure-form select, .pure-form textarea {
  padding: 0.5em 0.6em;
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  vertical-align: middle;
  box-sizing: border-box;
}

.pure-form input:not([type]) {
  padding: 0.5em 0.6em;
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
}

.pure-form input[type=color] {
  padding: 0.2em 0.5em;
}

.pure-form input:not([type]):focus, .pure-form input[type=password]:focus, .pure-form input[type=email]:focus, .pure-form input[type=url]:focus, .pure-form input[type=date]:focus, .pure-form input[type=month]:focus, .pure-form input[type=time]:focus, .pure-form input[type=datetime]:focus, .pure-form input[type=datetime-local]:focus, .pure-form input[type=week]:focus, .pure-form input[type=tel]:focus, .pure-form input[type=color]:focus, .pure-form input[type=number]:focus, .pure-form input[type=search]:focus, .pure-form input[type=text]:focus, .pure-form select:focus, .pure-form textarea:focus {
  outline: 0;
  border-color: #129FEA;
}

.pure-form input[type=file]:focus, .pure-form input[type=checkbox]:focus, .pure-form input[type=radio]:focus {
  outline: #129FEA auto 1px;
}

.pure-form .pure-checkbox, .pure-form .pure-radio {
  margin: 0.5em 0;
  display: block;
}

.pure-form input:not([type])[disabled], .pure-form input[type=password][disabled], .pure-form input[type=email][disabled], .pure-form input[type=url][disabled], .pure-form input[type=date][disabled], .pure-form input[type=month][disabled], .pure-form input[type=time][disabled], .pure-form input[type=datetime][disabled], .pure-form input[type=datetime-local][disabled], .pure-form input[type=week][disabled], .pure-form input[type=tel][disabled], .pure-form input[type=color][disabled], .pure-form input[type=number][disabled], .pure-form input[type=search][disabled], .pure-form input[type=text][disabled], .pure-form select[disabled], .pure-form textarea[disabled] {
  cursor: not-allowed;
  background-color: #eaeded;
  color: #cad2d3;
}

.pure-form input[readonly], .pure-form select[readonly], .pure-form textarea[readonly] {
  background-color: #eee;
  color: #777;
  border-color: #ccc;
}

.pure-form input:focus:invalid, .pure-form select:focus:invalid, .pure-form textarea:focus:invalid {
  color: #b94a48;
  border-color: #e9322d;
}

.pure-form input[type=file]:focus:invalid:focus, .pure-form input[type=checkbox]:focus:invalid:focus, .pure-form input[type=radio]:focus:invalid:focus {
  outline-color: #e9322d;
}

.pure-form select {
  height: 2.25em;
  border: 1px solid #ccc;
  background-color: #fff;
}

.pure-form select[multiple] {
  height: auto;
}

.pure-form label {
  margin: 0.5em 0 0.2em;
}

.pure-form fieldset {
  margin: 0;
  padding: 0.35em 0 0.75em;
  border: 0;
}

.pure-form legend {
  display: block;
  width: 100%;
  padding: 0.3em 0;
  margin-bottom: 0.3em;
  color: #333;
  border-bottom: 1px solid #e5e5e5;
}

.pure-form-stacked input:not([type]), .pure-form-stacked input[type=password], .pure-form-stacked input[type=email], .pure-form-stacked input[type=url], .pure-form-stacked input[type=date], .pure-form-stacked input[type=month], .pure-form-stacked input[type=time], .pure-form-stacked input[type=datetime], .pure-form-stacked input[type=datetime-local], .pure-form-stacked input[type=week], .pure-form-stacked input[type=tel], .pure-form-stacked input[type=color], .pure-form-stacked input[type=file], .pure-form-stacked input[type=number], .pure-form-stacked input[type=search], .pure-form-stacked input[type=text], .pure-form-stacked label, .pure-form-stacked select, .pure-form-stacked textarea {
  display: block;
  margin: 0.25em 0;
}

.pure-form-aligned .pure-help-inline, .pure-form-aligned input, .pure-form-aligned select, .pure-form-aligned textarea, .pure-form-message-inline {
  display: inline-block;
  vertical-align: middle;
}

.pure-form-aligned textarea {
  vertical-align: top;
}

.pure-form-aligned .pure-control-group {
  margin-bottom: 0.5em;
}

.pure-form-aligned .pure-control-group label {
  text-align: right;
  display: inline-block;
  vertical-align: middle;
  width: 10em;
  margin: 0 1em 0 0;
}

.pure-form-aligned .pure-controls {
  margin: 1.5em 0 0 11em;
}

.pure-form .pure-input-rounded, .pure-form input.pure-input-rounded {
  border-radius: 2em;
  padding: 0.5em 1em;
}

.pure-form .pure-group fieldset {
  margin-bottom: 10px;
}

.pure-form .pure-group input, .pure-form .pure-group textarea {
  display: block;
  padding: 10px;
  margin: 0 0 -1px;
  border-radius: 0;
  position: relative;
  top: -1px;
}

.pure-form .pure-group input:focus, .pure-form .pure-group textarea:focus {
  z-index: 3;
}

.pure-form .pure-group input:first-child, .pure-form .pure-group textarea:first-child {
  top: 1px;
  border-radius: 4px 4px 0 0;
  margin: 0;
}

.pure-form .pure-group input:first-child:last-child, .pure-form .pure-group textarea:first-child:last-child {
  top: 1px;
  border-radius: 4px;
  margin: 0;
}

.pure-form .pure-group input:last-child, .pure-form .pure-group textarea:last-child {
  top: -2px;
  border-radius: 0 0 4px 4px;
  margin: 0;
}

.pure-form .pure-group button {
  margin: 0.35em 0;
}

.pure-form .pure-input-1 {
  width: 100%;
}

.pure-form .pure-input-3-4 {
  width: 75%;
}

.pure-form .pure-input-2-3 {
  width: 66%;
}

.pure-form .pure-input-1-2 {
  width: 50%;
}

.pure-form .pure-input-1-3 {
  width: 33%;
}

.pure-form .pure-input-1-4 {
  width: 25%;
}

.pure-form .pure-help-inline, .pure-form-message-inline {
  display: inline-block;
  padding-left: 0.3em;
  color: #666;
  vertical-align: middle;
  font-size: 0.875em;
}

.pure-form-message {
  display: block;
  color: #666;
  font-size: 0.875em;
}

@media only screen and (max-width: 480px) {
  .pure-form button[type=submit] {
    margin: 0.7em 0 0;
  }

  .pure-form input:not([type]), .pure-form input[type=password], .pure-form input[type=email], .pure-form input[type=url], .pure-form input[type=date], .pure-form input[type=month], .pure-form input[type=time], .pure-form input[type=datetime], .pure-form input[type=datetime-local], .pure-form input[type=week], .pure-form input[type=tel], .pure-form input[type=color], .pure-form input[type=number], .pure-form input[type=search], .pure-form input[type=text], .pure-form label {
    margin-bottom: 0.3em;
    display: block;
  }

  .pure-group input:not([type]), .pure-group input[type=password], .pure-group input[type=email], .pure-group input[type=url], .pure-group input[type=date], .pure-group input[type=month], .pure-group input[type=time], .pure-group input[type=datetime], .pure-group input[type=datetime-local], .pure-group input[type=week], .pure-group input[type=tel], .pure-group input[type=color], .pure-group input[type=number], .pure-group input[type=search], .pure-group input[type=text] {
    margin-bottom: 0;
  }

  .pure-form-aligned .pure-control-group label {
    margin-bottom: 0.3em;
    text-align: left;
    display: block;
    width: 100%;
  }

  .pure-form-aligned .pure-controls {
    margin: 1.5em 0 0;
  }

  .pure-form .pure-help-inline, .pure-form-message, .pure-form-message-inline {
    display: block;
    font-size: 0.75em;
    padding: 0.2em 0 0.8em;
  }
}
.pure-menu-fixed {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 3;
}

.pure-menu-item, .pure-menu-list {
  position: relative;
}

.pure-menu-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.pure-menu-item {
  padding: 0;
  margin: 0;
  height: 100%;
}

.pure-menu-heading, .pure-menu-link {
  display: block;
  text-decoration: none;
  white-space: nowrap;
}

.pure-menu-horizontal {
  width: 100%;
  white-space: nowrap;
}

.pure-menu-horizontal .pure-menu-list {
  display: inline-block;
}

.pure-menu-horizontal .pure-menu-heading, .pure-menu-horizontal .pure-menu-item, .pure-menu-horizontal .pure-menu-separator {
  display: inline-block;
  zoom: 1;
  vertical-align: middle;
}

.pure-menu-item .pure-menu-item {
  display: block;
}

.pure-menu-children {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
  margin: 0;
  padding: 0;
  z-index: 3;
}

.pure-menu-horizontal .pure-menu-children {
  left: 0;
  top: auto;
  width: inherit;
}

.pure-menu-active > .pure-menu-children, .pure-menu-allow-hover:hover > .pure-menu-children {
  display: block;
  position: absolute;
}

.pure-menu-has-children > .pure-menu-link:after {
  padding-left: 0.5em;
  content: "▸";
  font-size: small;
}

.pure-menu-horizontal .pure-menu-has-children > .pure-menu-link:after {
  content: "▾";
}

.pure-menu-scrollable {
  overflow-y: scroll;
  overflow-x: hidden;
}

.pure-menu-scrollable .pure-menu-list {
  display: block;
}

.pure-menu-horizontal.pure-menu-scrollable .pure-menu-list {
  display: inline-block;
}

.pure-menu-horizontal.pure-menu-scrollable {
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: auto;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
  padding: 0.5em 0;
}

.pure-menu-horizontal.pure-menu-scrollable::-webkit-scrollbar {
  display: none;
}

.pure-menu-horizontal .pure-menu-children .pure-menu-separator, .pure-menu-separator {
  background-color: #ccc;
  height: 1px;
  margin: 0.3em 0;
}

.pure-menu-horizontal .pure-menu-separator {
  width: 1px;
  height: 1.3em;
  margin: 0 0.3em;
}

.pure-menu-horizontal .pure-menu-children .pure-menu-separator {
  display: block;
  width: auto;
}

.pure-menu-heading {
  text-transform: uppercase;
  color: #565d64;
}

.pure-menu-link {
  color: #777;
}

.pure-menu-children {
  background-color: #fff;
}

.pure-menu-disabled, .pure-menu-heading, .pure-menu-link {
  padding: 0.5em 1em;
}

.pure-menu-disabled {
  opacity: 0.5;
}

.pure-menu-disabled .pure-menu-link:hover {
  background-color: transparent;
}

.pure-menu-active > .pure-menu-link, .pure-menu-link:focus, .pure-menu-link:hover {
  background-color: #eee;
}

.pure-menu-selected .pure-menu-link, .pure-menu-selected .pure-menu-link:visited {
  color: #000;
}

.pure-table {
  empty-cells: show;
  border: 1px solid #cbcbcb;
}

.pure-table caption {
  color: #000;
  font: italic 85%/1 arial, sans-serif;
  padding: 1em 0;
  text-align: center;
}

.pure-table td, .pure-table th {
  border-left: 1px solid #cbcbcb;
  border-width: 0 0 0 1px;
  font-size: inherit;
  margin: 0;
  overflow: visible;
  padding: 0.5em 1em;
}

.pure-table td:first-child, .pure-table th:first-child {
  border-left-width: 0;
}

.pure-table thead {
  background-color: #e0e0e0;
  color: #000;
  text-align: left;
  vertical-align: bottom;
}

.pure-table td {
  background-color: transparent;
}

.pure-table-odd td, .pure-table-striped tr:nth-child(2n-1) td {
  background-color: #f2f2f2;
}

.pure-table-bordered td {
  border-bottom: 1px solid #cbcbcb;
}

.pure-table-bordered tbody > tr:last-child > td {
  border-bottom-width: 0;
}

.pure-table-horizontal td, .pure-table-horizontal th {
  border-width: 0 0 1px;
  border-bottom: 1px solid #cbcbcb;
}

.pure-table-horizontal tbody > tr:last-child > td {
  border-bottom-width: 0;
}

/*!
Pure v0.6.2
Copyright 2013 Yahoo!
Licensed under the BSD License.
https://github.com/yahoo/pure/blob/master/LICENSE.md
*/
@media screen and (min-width: 35.5em) {
  .pure-u-sm-1, .pure-u-sm-1-1, .pure-u-sm-1-12, .pure-u-sm-1-2, .pure-u-sm-1-24, .pure-u-sm-1-3, .pure-u-sm-1-4, .pure-u-sm-1-5, .pure-u-sm-1-6, .pure-u-sm-1-8, .pure-u-sm-10-24, .pure-u-sm-11-12, .pure-u-sm-11-24, .pure-u-sm-12-24, .pure-u-sm-13-24, .pure-u-sm-14-24, .pure-u-sm-15-24, .pure-u-sm-16-24, .pure-u-sm-17-24, .pure-u-sm-18-24, .pure-u-sm-19-24, .pure-u-sm-2-24, .pure-u-sm-2-3, .pure-u-sm-2-5, .pure-u-sm-20-24, .pure-u-sm-21-24, .pure-u-sm-22-24, .pure-u-sm-23-24, .pure-u-sm-24-24, .pure-u-sm-3-24, .pure-u-sm-3-4, .pure-u-sm-3-5, .pure-u-sm-3-8, .pure-u-sm-4-24, .pure-u-sm-4-5, .pure-u-sm-5-12, .pure-u-sm-5-24, .pure-u-sm-5-5, .pure-u-sm-5-6, .pure-u-sm-5-8, .pure-u-sm-6-24, .pure-u-sm-7-12, .pure-u-sm-7-24, .pure-u-sm-7-8, .pure-u-sm-8-24, .pure-u-sm-9-24 {
    display: inline-block;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
  }

  .pure-u-sm-1-24 {
    width: 4.1667%;
  }

  .pure-u-sm-1-12, .pure-u-sm-2-24 {
    width: 8.3333%;
  }

  .pure-u-sm-1-8, .pure-u-sm-3-24 {
    width: 12.5%;
  }

  .pure-u-sm-1-6, .pure-u-sm-4-24 {
    width: 16.6667%;
  }

  .pure-u-sm-1-5 {
    width: 20%;
  }

  .pure-u-sm-5-24 {
    width: 20.8333%;
  }

  .pure-u-sm-1-4, .pure-u-sm-6-24 {
    width: 25%;
  }

  .pure-u-sm-7-24 {
    width: 29.1667%;
  }

  .pure-u-sm-1-3, .pure-u-sm-8-24 {
    width: 33.3333%;
  }

  .pure-u-sm-3-8, .pure-u-sm-9-24 {
    width: 37.5%;
  }

  .pure-u-sm-2-5 {
    width: 40%;
  }

  .pure-u-sm-10-24, .pure-u-sm-5-12 {
    width: 41.6667%;
  }

  .pure-u-sm-11-24 {
    width: 45.8333%;
  }

  .pure-u-sm-1-2, .pure-u-sm-12-24 {
    width: 50%;
  }

  .pure-u-sm-13-24 {
    width: 54.1667%;
  }

  .pure-u-sm-14-24, .pure-u-sm-7-12 {
    width: 58.3333%;
  }

  .pure-u-sm-3-5 {
    width: 60%;
  }

  .pure-u-sm-15-24, .pure-u-sm-5-8 {
    width: 62.5%;
  }

  .pure-u-sm-16-24, .pure-u-sm-2-3 {
    width: 66.6667%;
  }

  .pure-u-sm-17-24 {
    width: 70.8333%;
  }

  .pure-u-sm-18-24, .pure-u-sm-3-4 {
    width: 75%;
  }

  .pure-u-sm-19-24 {
    width: 79.1667%;
  }

  .pure-u-sm-4-5 {
    width: 80%;
  }

  .pure-u-sm-20-24, .pure-u-sm-5-6 {
    width: 83.3333%;
  }

  .pure-u-sm-21-24, .pure-u-sm-7-8 {
    width: 87.5%;
  }

  .pure-u-sm-11-12, .pure-u-sm-22-24 {
    width: 91.6667%;
  }

  .pure-u-sm-23-24 {
    width: 95.8333%;
  }

  .pure-u-sm-1, .pure-u-sm-1-1, .pure-u-sm-24-24, .pure-u-sm-5-5 {
    width: 100%;
  }
}
@media screen and (min-width: 48em) {
  .pure-u-md-1, .pure-u-md-1-1, .pure-u-md-1-12, .pure-u-md-1-2, .pure-u-md-1-24, .pure-u-md-1-3, .pure-u-md-1-4, .pure-u-md-1-5, .pure-u-md-1-6, .pure-u-md-1-8, .pure-u-md-10-24, .pure-u-md-11-12, .pure-u-md-11-24, .pure-u-md-12-24, .pure-u-md-13-24, .pure-u-md-14-24, .pure-u-md-15-24, .pure-u-md-16-24, .pure-u-md-17-24, .pure-u-md-18-24, .pure-u-md-19-24, .pure-u-md-2-24, .pure-u-md-2-3, .pure-u-md-2-5, .pure-u-md-20-24, .pure-u-md-21-24, .pure-u-md-22-24, .pure-u-md-23-24, .pure-u-md-24-24, .pure-u-md-3-24, .pure-u-md-3-4, .pure-u-md-3-5, .pure-u-md-3-8, .pure-u-md-4-24, .pure-u-md-4-5, .pure-u-md-5-12, .pure-u-md-5-24, .pure-u-md-5-5, .pure-u-md-5-6, .pure-u-md-5-8, .pure-u-md-6-24, .pure-u-md-7-12, .pure-u-md-7-24, .pure-u-md-7-8, .pure-u-md-8-24, .pure-u-md-9-24 {
    display: inline-block;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
  }

  .pure-u-md-1-24 {
    width: 4.1667%;
  }

  .pure-u-md-1-12, .pure-u-md-2-24 {
    width: 8.3333%;
  }

  .pure-u-md-1-8, .pure-u-md-3-24 {
    width: 12.5%;
  }

  .pure-u-md-1-6, .pure-u-md-4-24 {
    width: 16.6667%;
  }

  .pure-u-md-1-5 {
    width: 20%;
  }

  .pure-u-md-5-24 {
    width: 20.8333%;
  }

  .pure-u-md-1-4, .pure-u-md-6-24 {
    width: 25%;
  }

  .pure-u-md-7-24 {
    width: 29.1667%;
  }

  .pure-u-md-1-3, .pure-u-md-8-24 {
    width: 33.3333%;
  }

  .pure-u-md-3-8, .pure-u-md-9-24 {
    width: 37.5%;
  }

  .pure-u-md-2-5 {
    width: 40%;
  }

  .pure-u-md-10-24, .pure-u-md-5-12 {
    width: 41.6667%;
  }

  .pure-u-md-11-24 {
    width: 45.8333%;
  }

  .pure-u-md-1-2, .pure-u-md-12-24 {
    width: 50%;
  }

  .pure-u-md-13-24 {
    width: 54.1667%;
  }

  .pure-u-md-14-24, .pure-u-md-7-12 {
    width: 58.3333%;
  }

  .pure-u-md-3-5 {
    width: 60%;
  }

  .pure-u-md-15-24, .pure-u-md-5-8 {
    width: 62.5%;
  }

  .pure-u-md-16-24, .pure-u-md-2-3 {
    width: 66.6667%;
  }

  .pure-u-md-17-24 {
    width: 70.8333%;
  }

  .pure-u-md-18-24, .pure-u-md-3-4 {
    width: 75%;
  }

  .pure-u-md-19-24 {
    width: 79.1667%;
  }

  .pure-u-md-4-5 {
    width: 80%;
  }

  .pure-u-md-20-24, .pure-u-md-5-6 {
    width: 83.3333%;
  }

  .pure-u-md-21-24, .pure-u-md-7-8 {
    width: 87.5%;
  }

  .pure-u-md-11-12, .pure-u-md-22-24 {
    width: 91.6667%;
  }

  .pure-u-md-23-24 {
    width: 95.8333%;
  }

  .pure-u-md-1, .pure-u-md-1-1, .pure-u-md-24-24, .pure-u-md-5-5 {
    width: 100%;
  }
}
@media screen and (min-width: 64em) {
  .pure-u-lg-1, .pure-u-lg-1-1, .pure-u-lg-1-12, .pure-u-lg-1-2, .pure-u-lg-1-24, .pure-u-lg-1-3, .pure-u-lg-1-4, .pure-u-lg-1-5, .pure-u-lg-1-6, .pure-u-lg-1-8, .pure-u-lg-10-24, .pure-u-lg-11-12, .pure-u-lg-11-24, .pure-u-lg-12-24, .pure-u-lg-13-24, .pure-u-lg-14-24, .pure-u-lg-15-24, .pure-u-lg-16-24, .pure-u-lg-17-24, .pure-u-lg-18-24, .pure-u-lg-19-24, .pure-u-lg-2-24, .pure-u-lg-2-3, .pure-u-lg-2-5, .pure-u-lg-20-24, .pure-u-lg-21-24, .pure-u-lg-22-24, .pure-u-lg-23-24, .pure-u-lg-24-24, .pure-u-lg-3-24, .pure-u-lg-3-4, .pure-u-lg-3-5, .pure-u-lg-3-8, .pure-u-lg-4-24, .pure-u-lg-4-5, .pure-u-lg-5-12, .pure-u-lg-5-24, .pure-u-lg-5-5, .pure-u-lg-5-6, .pure-u-lg-5-8, .pure-u-lg-6-24, .pure-u-lg-7-12, .pure-u-lg-7-24, .pure-u-lg-7-8, .pure-u-lg-8-24, .pure-u-lg-9-24 {
    display: inline-block;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
  }

  .pure-u-lg-1-24 {
    width: 4.1667%;
  }

  .pure-u-lg-1-12, .pure-u-lg-2-24 {
    width: 8.3333%;
  }

  .pure-u-lg-1-8, .pure-u-lg-3-24 {
    width: 12.5%;
  }

  .pure-u-lg-1-6, .pure-u-lg-4-24 {
    width: 16.6667%;
  }

  .pure-u-lg-1-5 {
    width: 20%;
  }

  .pure-u-lg-5-24 {
    width: 20.8333%;
  }

  .pure-u-lg-1-4, .pure-u-lg-6-24 {
    width: 25%;
  }

  .pure-u-lg-7-24 {
    width: 29.1667%;
  }

  .pure-u-lg-1-3, .pure-u-lg-8-24 {
    width: 33.3333%;
  }

  .pure-u-lg-3-8, .pure-u-lg-9-24 {
    width: 37.5%;
  }

  .pure-u-lg-2-5 {
    width: 40%;
  }

  .pure-u-lg-10-24, .pure-u-lg-5-12 {
    width: 41.6667%;
  }

  .pure-u-lg-11-24 {
    width: 45.8333%;
  }

  .pure-u-lg-1-2, .pure-u-lg-12-24 {
    width: 50%;
  }

  .pure-u-lg-13-24 {
    width: 54.1667%;
  }

  .pure-u-lg-14-24, .pure-u-lg-7-12 {
    width: 58.3333%;
  }

  .pure-u-lg-3-5 {
    width: 60%;
  }

  .pure-u-lg-15-24, .pure-u-lg-5-8 {
    width: 62.5%;
  }

  .pure-u-lg-16-24, .pure-u-lg-2-3 {
    width: 66.6667%;
  }

  .pure-u-lg-17-24 {
    width: 70.8333%;
  }

  .pure-u-lg-18-24, .pure-u-lg-3-4 {
    width: 75%;
  }

  .pure-u-lg-19-24 {
    width: 79.1667%;
  }

  .pure-u-lg-4-5 {
    width: 80%;
  }

  .pure-u-lg-20-24, .pure-u-lg-5-6 {
    width: 83.3333%;
  }

  .pure-u-lg-21-24, .pure-u-lg-7-8 {
    width: 87.5%;
  }

  .pure-u-lg-11-12, .pure-u-lg-22-24 {
    width: 91.6667%;
  }

  .pure-u-lg-23-24 {
    width: 95.8333%;
  }

  .pure-u-lg-1, .pure-u-lg-1-1, .pure-u-lg-24-24, .pure-u-lg-5-5 {
    width: 100%;
  }
}
@media screen and (min-width: 80em) {
  .pure-u-xl-1, .pure-u-xl-1-1, .pure-u-xl-1-12, .pure-u-xl-1-2, .pure-u-xl-1-24, .pure-u-xl-1-3, .pure-u-xl-1-4, .pure-u-xl-1-5, .pure-u-xl-1-6, .pure-u-xl-1-8, .pure-u-xl-10-24, .pure-u-xl-11-12, .pure-u-xl-11-24, .pure-u-xl-12-24, .pure-u-xl-13-24, .pure-u-xl-14-24, .pure-u-xl-15-24, .pure-u-xl-16-24, .pure-u-xl-17-24, .pure-u-xl-18-24, .pure-u-xl-19-24, .pure-u-xl-2-24, .pure-u-xl-2-3, .pure-u-xl-2-5, .pure-u-xl-20-24, .pure-u-xl-21-24, .pure-u-xl-22-24, .pure-u-xl-23-24, .pure-u-xl-24-24, .pure-u-xl-3-24, .pure-u-xl-3-4, .pure-u-xl-3-5, .pure-u-xl-3-8, .pure-u-xl-4-24, .pure-u-xl-4-5, .pure-u-xl-5-12, .pure-u-xl-5-24, .pure-u-xl-5-5, .pure-u-xl-5-6, .pure-u-xl-5-8, .pure-u-xl-6-24, .pure-u-xl-7-12, .pure-u-xl-7-24, .pure-u-xl-7-8, .pure-u-xl-8-24, .pure-u-xl-9-24 {
    display: inline-block;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
  }

  .pure-u-xl-1-24 {
    width: 4.1667%;
  }

  .pure-u-xl-1-12, .pure-u-xl-2-24 {
    width: 8.3333%;
  }

  .pure-u-xl-1-8, .pure-u-xl-3-24 {
    width: 12.5%;
  }

  .pure-u-xl-1-6, .pure-u-xl-4-24 {
    width: 16.6667%;
  }

  .pure-u-xl-1-5 {
    width: 20%;
  }

  .pure-u-xl-5-24 {
    width: 20.8333%;
  }

  .pure-u-xl-1-4, .pure-u-xl-6-24 {
    width: 25%;
  }

  .pure-u-xl-7-24 {
    width: 29.1667%;
  }

  .pure-u-xl-1-3, .pure-u-xl-8-24 {
    width: 33.3333%;
  }

  .pure-u-xl-3-8, .pure-u-xl-9-24 {
    width: 37.5%;
  }

  .pure-u-xl-2-5 {
    width: 40%;
  }

  .pure-u-xl-10-24, .pure-u-xl-5-12 {
    width: 41.6667%;
  }

  .pure-u-xl-11-24 {
    width: 45.8333%;
  }

  .pure-u-xl-1-2, .pure-u-xl-12-24 {
    width: 50%;
  }

  .pure-u-xl-13-24 {
    width: 54.1667%;
  }

  .pure-u-xl-14-24, .pure-u-xl-7-12 {
    width: 58.3333%;
  }

  .pure-u-xl-3-5 {
    width: 60%;
  }

  .pure-u-xl-15-24, .pure-u-xl-5-8 {
    width: 62.5%;
  }

  .pure-u-xl-16-24, .pure-u-xl-2-3 {
    width: 66.6667%;
  }

  .pure-u-xl-17-24 {
    width: 70.8333%;
  }

  .pure-u-xl-18-24, .pure-u-xl-3-4 {
    width: 75%;
  }

  .pure-u-xl-19-24 {
    width: 79.1667%;
  }

  .pure-u-xl-4-5 {
    width: 80%;
  }

  .pure-u-xl-20-24, .pure-u-xl-5-6 {
    width: 83.3333%;
  }

  .pure-u-xl-21-24, .pure-u-xl-7-8 {
    width: 87.5%;
  }

  .pure-u-xl-11-12, .pure-u-xl-22-24 {
    width: 91.6667%;
  }

  .pure-u-xl-23-24 {
    width: 95.8333%;
  }

  .pure-u-xl-1, .pure-u-xl-1-1, .pure-u-xl-24-24, .pure-u-xl-5-5 {
    width: 100%;
  }
}
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}
.animated nav.breadcrumb {
  animation-duration: 0.2s !important;
}
.animated.slow {
  animation-duration: 0.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fadeIn {
  animation-name: fadeIn;
}

/*
?/ TODO: When barba transitions are in
@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}*/
* {
  box-sizing: border-box;
}

html {
  background-color: #ededed;
}

html.loaded {
  background-color: #ededed;
}

html body {
  background-color: #ededed;
}

html body .page-wrap {
  background-color: #ededed;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

body {
  height: 100%;
  background: #ededed;
  overflow-x: hidden;
}

.header {
  text-align: center;
  top: auto;
  margin: 3em auto;
  padding: 1em;
}
.header a {
  text-decoration: none;
  color: inherit;
}

h3 {
  font-weight: 100;
}

.pure-img-responsive {
  max-width: 100%;
  height: auto;
}

#layout {
  padding: 0;
}

.brand-title {
  margin: 0 -0.5rem;
  font-family: Roboto Slab;
}

strong.strapline {
  margin-bottom: 1em;
  position: relative;
  top: -0.5em;
}

.boxCard.featured {
  background: rgba(240, 240, 240, 0.1);
}

.content-subhead {
  text-transform: uppercase;
  color: #aaaaaa;
  border-bottom: 1px solid #ededed;
  padding: 0.4em 0;
  font-size: 80%;
  font-weight: 500;
  letter-spacing: 0.1em;
}

.content {
  min-height: 100vh;
}

.post {
  padding-bottom: 2em;
}

.post-title {
  font-size: 2em;
  color: #222222;
  margin-bottom: 0.2em;
}

.post-avatar {
  border-radius: 50px;
  float: right;
  margin-left: 1em;
}

.post-description {
  font-family: Georgia, Cambria, serif;
  color: #444444;
  line-height: 1.8em;
}

.post-meta {
  color: #999999;
  font-size: 90%;
  margin: 0;
  font-family: Noto Sans, Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
}

.post-category {
  margin: 0 0.1em;
  padding: 0.3em 1em;
  color: white;
  background: #999999;
  font-size: 80%;
}

.post-category-design {
  background: #5aba59;
}

.post-category-pure {
  background: #4d85d1;
}

.post-category-yui {
  background: #8156a7;
}

.post-category-js {
  background: #df2d4f;
}

.post-images {
  margin: 1em 0;
}

.post-image-meta {
  margin-top: -3.5em;
  margin-left: 1em;
  color: white;
  text-shadow: 0 1px 1px #333333;
}

.post-tags {
  flex-wrap: wrap;
  width: 85%;
  margin: 1em auto 1.5em;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.post-footer {
  padding: 0.5em;
}

/*
article.single section.article p:last-of-type {
  &:after {
    width: 80%;
    content: '';
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    height: 0.2rem;
    display: block;
    margin: 2em auto 0 10%;
  }

}
*/
.footnotes {
  margin-bottom: 1.5em;
}

a.footnote-return {
  background: none !important;
}
a.footnote-return:hover {
  background: inherit;
}

.footer {
  text-align: center;
  padding: 1em 0;
}
.footer a {
  color: #cccccc;
  font-size: 80%;
}
.footer .pure-menu a:hover {
  background: none;
}
.footer .pure-menu a:focus {
  background: none;
}

.pure-button {
  font-family: Noto Sans, Raleway, Palatino, Palatino Linotype, Palatino LT STD, Book Antiqua, Georgia, serif;
  background: rgba(190, 190, 190, 0.05);
  text-decoration: none !important;
  font-weight: 500;
}
.pure-button.button-inverse {
  font-weight: 600;
  background: none;
  color: #d99536;
  border-radius: 0.35em;
}
.pure-button.button-inverse:hover {
  background: none;
}
.pure-button.highlight {
  background-color: rgba(240, 240, 240, 0.45);
  border: 1px solid rgba(120, 120, 120, 0.25);
}
.pure-button.highlight:hover {
  background-color: #fafafa !important;
  box-shadow: 1px 3px 5px 0 rgba(105, 105, 105, 0.1);
}

.button-xsmall {
  font-size: 70%;
}

.button-small {
  font-size: 85%;
}

.button-large {
  font-size: 110%;
}

.button-xlarge {
  font-size: 125%;
}

.button-success {
  color: white;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  background: #1cb841;
}

.button-error {
  color: white;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  background: #ca3c3c;
}

.button-warning {
  color: white;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  background: #df7514;
}

.button-secondary {
  color: white;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  color: rgba(61, 146, 201, 0.9);
}

.permalink {
  width: 4em;
  text-align: center;
  font-family: Noto Sans, Raleway, Palatino, Palatino Linotype, Palatino LT STD, Book Antiqua, Georgia, serif;
  font-weight: 500;
  text-decoration: none;
}
.permalink:hover:after {
  content: " ›";
  color: #aaaaaa;
}
.permalink:hover:before {
  content: "‹ ";
  color: #aaaaaa;
}

.permalink-wide {
  width: 7em;
  text-align: center;
  font-family: Noto Sans, Raleway, Palatino, Palatino Linotype, Palatino LT STD, Book Antiqua, Georgia, serif;
  font-weight: 500;
  text-decoration: none;
}
.permalink-wide span {
  color: #666;
  padding: 0 0.2em;
}
.permalink-wide:hover span {
  color: #d99536;
}
.permalink-wide:hover:after {
  content: " ›";
  color: #aaaaaa;
}
.permalink-wide:hover:before {
  content: "‹ ";
  color: #aaaaaa;
}

.size_70 {
  transform: scale(0.7);
  transform-origin: 0 0;
  transition: 100ms ease;
}

.size_80 {
  transform: scale(0.8);
  transform-origin: 0 0;
  transition: 100ms ease;
}

.size_90 {
  transform: scale(0.9);
  transform-origin: 0 0;
  transition: 100ms ease;
}

.size_100 {
  transform: scale(1);
  transform-origin: 0 0;
  transition: 100ms ease;
}

.zoom-overlay-open .size_70 {
  transform: unset;
}
.zoom-overlay-open .size_80 {
  transform: unset;
}
.zoom-overlay-open .size_90 {
  transform: unset;
}
.zoom-overlay-open .size_100 {
  transform: unset;
}

.article a {
  text-decoration: none;
  color: #3d92c9;
}
.muut-messaging {
  display: none !important;
}

.muut {
  display: flex;
  margin: 1em 0 4em 0;
}
.muut .m-list .m-moot {
  background-color: transparent;
}
.muut .m-app-loading {
  margin: 0 auto;
  text-align: center;
  display: block;
}
.muut .m-controls button {
  border-radius: 0.1em;
}

.post-share.soc {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 33%;
}
.soc {
  font-size: 0.5em;
}

.zoom-overlay-open .social-sharing {
  display: none !important;
  visibility: hidden !important;
  opacity: 0 !important;
}
.zoom-overlay-open .tagCloud {
  display: none !important;
  visibility: hidden !important;
  opacity: 0 !important;
}

.social-sharing {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 1em 2em 1em 1em;
}
.bottom-stroke:after {
  width: 66%;
  content: "";
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  height: 0.2rem;
  display: block;
  margin: 1.5em auto 1.5em;
}

div#moot-logo, div#moot-logo a {
  display: none !important;
}

img.m-face {
  height: auto;
}

textarea.m-postinput {
  height: 12em;
}

a.pure-button:hover {
  background: rgba(190, 160, 140, 0.2);
}
a.pure-button.button-tag {
  background: rgba(240, 240, 240, 0.25);
  color: rgba(41, 116, 171, 0.9);
}
a.pure-button.button-tag:hover {
  background: rgba(240, 240, 240, 0.66);
  color: #5bb0e7;
}
a.pure-button.button-inverse:hover {
  background: rgba(240, 240, 240, 0.75);
  color: #777777;
  font-weight: 700;
}
a.pure-button.button-inverse.permalink:hover {
  color: #d99536;
}

#menu {
  position: absolute;
  top: 0;
  left: -260px;
  width: 260px;
  height: 100%;
  padding: 0.5em 0.5em 0 0.5em;
  min-height: 480px;
  box-sizing: border-box;
  text-align: center;
  opacity: 0;
  display: none;
  visibility: hidden;
}
#menu .close {
  position: absolute;
  top: 1em;
  right: 1em;
  height: 1em;
  width: 1em;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  background: #888;
}
#menu .close:hover {
  background: #d99536;
}
#menu .close:before {
  position: absolute;
  content: "";
  background-color: #eee;
  top: 0.15em;
  left: 0.5em;
  width: 2px;
  height: 0.7em;
  margin-left: -1px;
}
#menu .close:after {
  position: absolute;
  content: "";
  background-color: #eee;
  margin-top: -1px;
  top: 0.5em;
  left: 0.15em;
  width: 0.7em;
  height: 2px;
}
#menu .menulink {
  display: table;
  margin: 0.2em;
  text-align: left;
  padding-left: 1em;
  border: 0 !important;
}
#menu a.breadcrumb-link {
  opacity: 1;
  visibility: visible;
  position: static;
  background: transparent;
}
#menu nav {
  margin-left: 0.4em;
}
#menu nav a {
  display: block;
  text-align: left;
  padding-left: 0.5em;
}
#menu .brand {
  height: 1em;
  line-height: 0.6;
  color: #ddd;
}

.title-pager {
  display: inline;
  color: #aaa;
  padding-left: 0.25em;
}
.title-pager * {
  color: #aaa;
}
.title-pager.breadcrumb-link:before, .title-pager.breadcrumb-link:after {
  color: #aaa !important;
}
.title-pager > span {
  font-size: 0.8em;
}

#menu-switch {
  display: none;
  font-size: 0.5em;
}

#menu-switch:checked ~ #menu {
  left: 0;
  opacity: 1;
  display: block;
  visibility: visible;
  transition: all 1s ease;
  border-right: 1px solid rgba(150, 150, 150, 0.25);
  background-size: cover;
  height: 100%;
}

#menu-switch:checked ~ .site-footer {
  overflow: hidden;
  display: none;
}
#menu-switch:checked ~ .site-footer .content {
  margin-left: 260px;
  margin-right: -260px;
}

#menu-switch:checked ~ .page-wrap {
  position: absolute;
  top: 0;
  left: 260px;
  right: -260px;
  overflow: hidden !important;
  transition: background 1s ease;
}
#menu-switch:checked ~ .page-wrap #centerBody {
  margin-left: 0px;
  margin-right: -260px !important;
  opacity: 0.8;
}
#menu-switch:checked ~ .page-wrap:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-color: rgba(225, 225, 225, 0.8);
}

#menu-switch:checked ~ .page-wrap nav.breadcrumb label.mt {
  visibility: hidden;
}

.page-wrap {
  box-sizing: border-box;
}

.text-sizes {
  position: absolute;
  bottom: 1em;
  width: 100%;
  padding: 0 1em;
  text-align: right;
}
.text-sizes a {
  vertical-align: bottom;
}

#menu-toggle {
  display: inline-block;
  position: relative;
  width: 0.6em;
  height: 0.6em;
  cursor: pointer;
  border: none;
  border-radius: 0.6em;
  background: white;
  transition: all 0.5s ease;
}
#menu-toggle:focus {
  outline: none;
}

.menu-brand h1 {
  margin: 0 0 0.5em 0;
  padding: 0;
}
.menu-brand h1 a {
  color: #555;
  text-decoration: none;
  font-size: 0.85em;
}
.menu-brand h1 a img {
  opacity: 0.85;
  width: 45%;
  height: auto;
  display: block;
  margin: 0.3em auto 0;
}
.menu-brand h1 a:after {
  width: 66%;
  content: "";
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  height: 0.2rem;
  display: block;
  margin: 0 auto;
  margin-top: 0.5em;
}

nav {
  letter-spacing: 0;
  display: block;
}

h1 a.crumb {
  height: 1.2em;
  margin-left: -0.85em;
  width: auto;
}

h1 a.crumb img {
  height: 1.2em;
  width: auto;
  vertical-align: bottom;
  opacity: 0.85;
}

label.mt {
  vertical-align: middle;
  margin: 0;
  cursor: pointer;
  position: relative;
  left: -0.8em;
  display: inline;
}
label.mt span {
  font-size: 0.5em;
  font-weight: 500;
  font-family: "Roboto Slab", serif;
  position: relative;
  top: -0.5em;
  margin-right: 0.6em;
  padding-left: 0.4em;
}
label.mt:hover {
  color: #d99536;
  font-weight: 700;
}

@media (max-width: 32em) {
  html.loaded body .page-wrap {
    background-image: none;
    background-color: #ededed;
  }
}
@media (max-height: 36em) {
  .hide-vsm {
    display: none !important;
    visibility: hidden !important;
    opacity: 0 !important;
  }
}
@media (max-height: 52em), (max-width: 60em) {
  #menu .root-item {
    display: none !important;
  }

  .menu-brand h1 {
    margin: 0.3em 0 0 0;
    padding: 0;
  }
  .menu-brand h1 a {
    font-size: 0.6em;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .menu-brand h1 a img {
    opacity: 0.85;
    width: 2em;
    height: auto;
    display: inline;
    margin: 0 0.2em 0 0.2em;
  }
  .menu-brand h1 a:after {
    display: none;
  }
  .menu-brand h1:after {
    width: 66%;
    content: "";
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    height: 0.2rem;
    display: block;
    margin: 0 auto;
    margin-top: 0.25em;
  }
}
@media (max-width: 32em) {
  .hide-sm {
    display: none !important;
    visibility: hidden !important;
    opacity: 0 !important;
  }
}
.page-wrap {
  /* equal to footer height */
}

.page-wrap:after {
  content: "";
  display: block;
}

.site-footer, .page-wrap:after {
  height: 20em;
  width: 100%;
}

.site-footer {
  letter-spacing: 0;
}
.site-footer .footer-info {
  font-size: 0.66em;
  padding: 1em 2em;
  font-family: Raleway, Palatino, Palatino Linotype, Palatino LT STD, Book Antiqua, Georgia, serif;
}
.site-footer .footer-info p {
  width: 80%;
}
.site-footer .embed-container {
  height: 50em;
}
.site-footer .embed-container iframe {
  height: 100%;
}
.site-footer article {
  margin: 0 2%;
}
.site-footer * {
  letter-spacing: normal;
}
.site-footer form {
  padding: 1em;
  width: 100%;
}
.site-footer form input[type=text], .site-footer form textarea, .site-footer form input[type=email] {
  width: 100%;
}

.nowrap {
  display: inline-block;
}

blockquote.quotePost {
  margin: 0em;
}
blockquote.quotePost p {
  font-size: 1.2rem;
  margin: 1.5em 0 0.75em 0;
  padding: 0 0 0.25em 0;
}
blockquote.quotePost p:after {
  content: "";
  position: relative;
  left: 0;
  top: 1em;
  width: 1.5em;
  display: block;
  margin-bottom: -2px;
  border-bottom: 0.15em solid rgba(217, 149, 54, 0.85);
}
blockquote.quotePost pre {
  font-size: 1.1rem;
  padding-bottom: 1em !important;
  overflow: visible;
  margin: 1.5em 0 0 0;
}
blockquote.quotePost code {
  font-size: 1.15rem;
  line-height: 1.8rem;
  background: transparent;
  border: none;
  overflow: visible !important;
}
blockquote.quotePost code:after {
  content: "";
  position: relative;
  left: 0;
  top: 1em;
  width: 1.5em;
  display: block;
  margin-top: -2px;
  border-bottom: 0.15em solid rgba(217, 149, 54, 0.85);
  overflow: visible;
}
blockquote.quotePost footer {
  color: #666;
  font-size: 1.1rem;
  font-family: Noto Sans;
  text-align: left;
  padding: 1.5em 0.5em 1em 1em;
}
blockquote.quotePost footer .nowrap {
  text-overflow: ellipsis;
}
blockquote.quotePost footer span {
  margin-right: -1em;
}
blockquote.quotePost footer em {
  text-indent: 1.25em;
}
blockquote.quotePost footer .quoteSource:before {
  content: ", ";
}

article.single section.article blockquote span {
  font-size: 1.2rem;
  margin: 2em 0 0.75em 0;
  padding: 0 0 1.5em 0;
  display: block;
}
article.single section.article blockquote span:after {
  content: "";
  position: relative;
  left: 0;
  top: 1em;
  width: 1.5em;
  display: block;
  border-bottom: 0.2em solid rgba(217, 149, 54, 0.75);
}
article.single section.article blockquote footer {
  text-align: left;
  text-indent: 1.5em;
}
article.single section.article blockquote footer:after {
  width: 80%;
  content: "";
  border-bottom: 1px solid rgba(80, 80, 80, 0.1);
  height: 0.2rem;
  display: block;
  margin: 2em auto 0 10%;
}

article blockquote.quotePost.quotePage footer:after {
  width: 80%;
  content: "";
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  height: 0.2rem;
  display: block;
  margin: 2em auto 0 10%;
}

.breadcrumb .breadcrumb-link {
  padding-left: 0.1em;
}
.breadcrumb .breadcrumb-link:before {
  padding-right: 0.1em;
}

.cardTitle {
  margin-top: 0.25em;
}

.cardDescription {
  margin: 0.25em 0 0 0.25em;
}

form.pure-form {
  margin: 0.75em;
}

.monospaced {
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.85em;
}

.width-100 {
  width: 100%;
}

.cb {
  clear: both;
}

.articleSubtitle {
  margin: 0.75em 0 0.25em 0;
  color: #787878;
}

.zm {
  margin: 0;
}

.dib {
  display: inline-block !important;
}

.din {
  display: none;
}

.vimeoPlayer div.videoPlay {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
  margin-top: 30% !important;
}

.embed-container {
  display: none;
  background-color: #f0f0f0;
}
.embed-container iframe {
  background-color: black;
}

.hs1m {
  margin-left: 1em;
  margin-right: 1em;
}

a.buyNow {
  text-decoration: none !important;
}
a.buyNow img {
  border: 0 solid #ffffffff;
}

/* Light */
/* Dark */
/* Light */
/* Dark */
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  border-radius: 0.35em;
  background-color: rgba(220, 220, 220, 0.4);
  border: 1px solid rgba(220, 220, 220, 0.9);
}

.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.right {
  text-align: right;
}

.card h3 a:hover {
  color: #D99536;
}

div.sectionLink {
  display: inline;
  font-family: "Noto Sans", Roboto Slab, serif;
  color: #D99536;
  font-weight: 300;
  font-size: 0.8em;
  margin-right: 0.25em !important;
}
div.sectionLink a {
  text-decoration: none;
  color: #666;
  font-weight: 300;
}
div.sectionLink a:hover {
  color: #D99536;
}
div.sectionLink:before, div.sectionLink:after {
  content: "/";
}
div.sectionLink:hover {
  color: #666;
}

.breadcrumb {
  border-bottom: 0 solid #D99536;
  border-radius: 0;
  margin-top: 0.5em;
  margin-bottom: 0.25em;
  max-height: 2.5em;
  position: relative;
  transition: all 0.3s ease-in-out;
  text-overflow: ellipsis;
  font-family: "Roboto Slab", serif;
}
.breadcrumb p {
  margin: 1.5em 0;
}
.breadcrumb a {
  display: inline;
  padding: 0.5em 0 0.25em 0;
  color: #333;
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
}
.breadcrumb a:hover {
  color: #D99536;
}

.pagination .inner {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.pagination.new-pagination .inner {
  justify-content: space-between;
}
.pagination.new-pagination .pagination-info {
  text-align: center;
}
.pagination .pagination-info {
  width: 90% !important;
}

h4.pagination-info {
  white-space: nowrap;
}

a.pagination-item {
  color: #555 !important;
  margin: 1.5em;
}
a.pagination-item:hover {
  color: #D99536 !important;
}
a.pagination-item.pagination-prev:after {
  content: " ›" !important;
  color: #D99536 !important;
  font-weight: 300;
  font-size: 1.2em;
}
a.pagination-item.pagination-next:before {
  content: "‹ " !important;
  color: #D99536 !important;
  font-weight: 300;
  font-size: 1.2em;
}

a.breadcrumb-link {
  color: #555 !important;
}
a.breadcrumb-link:hover {
  color: #D99536 !important;
}

.tag-link {
  color: #D99536 !important;
}

a.tag-link {
  text-decoration: none;
  color: #D99536 !important;
  transition: all 0.2s;
  white-space: nowrap;
  z-index: 0;
  display: inline;
  margin: 0.25em 0.25em;
}
a.tag-link:before {
  content: "#" !important;
  color: #D99536 !important;
  font-weight: 300;
  font-size: 1.2em;
}
a.tag-link:visited {
  color: #D99536 !important;
}
a.tag-link:active {
  color: #D99536 !important;
}
a.tag-link:link {
  color: #D99536 !important;
}

.breadcrumb-link {
  text-decoration: none;
  transition: all 0.2s;
  z-index: 0;
  display: inline;
}
.breadcrumb-link:before {
  content: "/";
  color: #D99536 !important;
  font-weight: 300;
}

@media (min-width: 30em) {
  .breadcrumb {
    border: none;
  }
  .breadcrumb-link {
    display: inline;
    opacity: 1;
    visibility: visible;
    position: static;
    margin-left: 0em;
    color: #666;
  }

  .breadcrumb--active {
    pointer-events: none;
  }
  .breadcrumb--active:after {
    content: none;
  }

  .breadcrumb-close {
    display: none !important;
  }
}
.highlight {
  background: rgba(240, 240, 240, 0.4) !important;
}

.vimeoPlayer {
  cursor: pointer;
  position: relative;
  margin-bottom: 1em;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  background-size: cover;
}
.vimeoPlayer .play-button {
  height: 6em;
  width: 6em;
  border-radius: 0.5em;
  position: relative;
  margin: 0 !important;
}
.vimeoPlayer .play-button:after {
  content: "";
  display: block;
  position: absolute;
  top: 0.5em;
  left: 1em;
  margin: 0 auto;
  margin: 0 auto;
  border-style: solid;
  border-width: 2em 0 2em 4em;
  border-color: transparent transparent transparent rgba(240, 240, 240, 0.66);
}
.vimeoPlayer:hover .play-button {
  transform: scale(1.2);
  transition: all 0.1s ease;
}
.vimeoPlayer:hover .play-button:after {
  border-color: transparent transparent transparent #f0f0f0;
}

cite.pullquote {
  background: rgba(240, 240, 240, 0.2);
  border-left: 0.1em solid rgba(217, 149, 54, 0.5);
  margin: 1.5em 1em 1.5em 0;
  padding: 0.5em 1em 0.5em 0.6em;
  quotes: "“" "”" "‘" "’";
  color: #555;
  font-style: normal;
  display: inline-block;
}
cite.pullquote .citeSource {
  text-align: left;
  text-indent: 1.5em;
  margin-top: 1.5em;
  margin-left: 0;
  font-style: italic;
  font-weight: 600;
}
cite.pullquote::before {
  color: rgba(171, 114, 33, 0.75);
  content: open-quote;
  font-size: 4.5em;
  line-height: 0.1em;
  margin-right: 0.15em;
  font-style: italic;
  font-weight: 300;
  vertical-align: -0.4em;
  font-family: Noto Sans;
}
cite.pullquote span {
  display: inline-block;
  text-indent: 1.75em;
  margin-left: 1em;
  margin-top: -1.5em;
  font-family: "Noto Sans";
  /*&:after {
    content: '';
    position: relative;
    left: 0;
    top: 1em;
    width: 1.5em;
    display: block;
    //margin-bottom: -2px;
    border-bottom: 0.2em solid rgba(217, 149, 54, 0.75);
  }*/
}

.swiper-container {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.gallery {
  height: 840px;
}

.gallery-top {
  height: 80%;
  width: 100%;
}

.gallery-thumbs {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}
.gallery-thumbs .swiper-slide {
  background-size: cover;
}

.gallery-thumbs .swiper-slide {
  width: 20%;
  height: 100%;
  opacity: 0.4;
}

.gallery-thumbs .swiper-slide-active {
  opacity: 1;
}

.fullscreen {
  position: absolute;
  top: 15px;
  right: 15px;
}

html {
  font-size: 15px;
}

.textualContent {
  margin-left: auto;
  margin-right: auto;
  padding-left: 4%;
  padding-right: 4%;
  font-family: Raleway, Palatino, Palatino Linotype, Palatino LT STD, Book Antiqua, Georgia, serif;
  font-weight: 300;
  color: #111111;
  max-width: 94%;
  counter-reset: sidenote-counter;
}

article h1:after {
  content: "";
  position: relative;
  left: 0;
  width: 1em;
  display: block;
  border-bottom: 0.075em solid rgba(217, 149, 54, 0.75);
}
article.single article {
  position: relative;
  padding: 2.5rem 0;
}

.article a:link {
  color: inherit;
  text-decoration: none;
  background: linear-gradient(#eeeeea, #eeeeea), linear-gradient(#eeeeea, #eeeeea), linear-gradient(#666666, #666666);
  background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
  background-repeat: no-repeat, no-repeat, repeat-x;
  text-shadow: 0.03em 0 #eeeeea, -0.03em 0 #eeeeea, 0 0.03em #eeeeea, 0 -0.03em #eeeeea, 0.06em 0 #eeeeea, -0.06em 0 #eeeeea, 0.09em 0 #eeeeea, -0.09em 0 #eeeeea, 0.12em 0 #eeeeea, -0.12em 0 #eeeeea, 0.15em 0 #eeeeea, -0.15em 0 #eeeeea;
  background-position: 0 93%, 100% 93%, 0 93%;
}
.article a:visited {
  color: inherit;
}
.article a:link::selection {
  text-shadow: 0.03em 0 #b4d5fe, -0.03em 0 #b4d5fe, 0 0.03em #b4d5fe, 0 -0.03em #b4d5fe, 0.06em 0 #b4d5fe, -0.06em 0 #b4d5fe, 0.09em 0 #b4d5fe, -0.09em 0 #b4d5fe, 0.12em 0 #b4d5fe, -0.12em 0 #b4d5fe, 0.15em 0 #b4d5fe, -0.15em 0 #b4d5fe;
  background: #b4d5fe;
}
.article a:link::-moz-selection {
  text-shadow: 0.03em 0 #b4d5fe, -0.03em 0 #b4d5fe, 0 0.03em #b4d5fe, 0 -0.03em #b4d5fe, 0.06em 0 #b4d5fe, -0.06em 0 #b4d5fe, 0.09em 0 #b4d5fe, -0.09em 0 #b4d5fe, 0.12em 0 #b4d5fe, -0.12em 0 #b4d5fe, 0.15em 0 #b4d5fe, -0.15em 0 #b4d5fe;
  background: #b4d5fe;
}
.article .post-title:after {
  content: "";
  position: relative;
  left: 0;
  bottom: -0.2em;
  width: 1em;
  display: block;
  margin-bottom: -2px;
  border-bottom: 0.1em solid #d99536;
}

h1 {
  font-family: Roboto Slab;
  font-weight: 400;
  margin-top: 0.5em;
  margin-bottom: 1.5rem;
  font-size: 3.2rem;
  line-height: 1;
}
h1 > span {
  color: #884433;
  font-size: 0.85em;
  font-family: Inconsolata;
}
h1 > span > span {
  color: rgba(0, 0, 0, 0.6);
}
h1 > code {
  font-size: 0.8em;
}

h2 {
  font-style: normal;
  font-weight: 400;
  font-family: Roboto Slab;
  margin-top: 2.1rem;
  margin-bottom: 0;
  font-size: 2.2rem;
  line-height: 1;
}
h2 > code {
  font-size: 0.8em;
}

h3 {
  font-family: Noto Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 1.7rem;
  margin-top: 2rem;
  margin-bottom: 0;
  line-height: 1;
}
h3 > code {
  font-size: 0.8em;
}

@media (max-width: 32em) {
  html {
    font-size: 12px;
  }

  p {
    font-size: 1.2rem !important;
  }

  h1 {
    font-size: 2rem;
    margin-top: 1.5rem;
    line-height: 1;
  }

  h2 {
    margin-top: 1rem;
    font-size: 1.7rem;
    line-height: 1;
  }

  h3 {
    margin-top: 1rem;
    font-size: 1.2rem;
    line-height: 1;
  }
}
@media (min-width: 32em) and (max-width: 64em) {
  html {
    font-size: 13px;
  }

  p {
    font-size: 1.3rem !important;
  }

  h1 {
    margin-top: 1.5rem;
    font-size: 2.4rem;
    line-height: 1;
  }

  h2 {
    margin-top: 1.4rem;
    font-size: 2rem;
    line-height: 1;
  }

  h3 {
    margin-top: 1rem;
    font-size: 1.7rem;
    line-height: 1;
  }
}
.subtitle {
  font-style: normal;
  font-weight: 400;
  font-family: Noto Sans;
  margin-top: 1rem;
  padding: 0 0.5em 0 0em;
  margin-left: 0.25em;
  display: block;
  line-height: 1;
  font-size: 1.1rem;
}

.card h3 {
  margin-bottom: 1em;
}
.card h3:after {
  content: "";
  position: relative;
  left: 0;
  top: 0.2em;
  width: 1em;
  display: block;
  margin-bottom: -0.4em;
  border-bottom: 0.1em solid rgba(217, 149, 54, 0.85);
}
.card h4.subitle {
  font-size: 1rem;
}

.danger {
  color: red;
}

section {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
section > ol {
  width: 45%;
}
section > ul {
  width: 45%;
}

p {
  font-size: 1.4rem;
  line-height: 2.4rem;
  margin-top: 1.2rem;
  margin-bottom: 1.4rem;
  padding-right: 0;
  vertical-align: baseline;
  width: 55%;
}

ol {
  font-size: 1.4rem;
}

ul {
  font-size: 1.4rem;
}

div.epigraph {
  margin: 5em 0;
}
div.epigraph > blockquote {
  margin-top: 3em;
  margin-bottom: 3em;
  font-style: italic;
}
div.epigraph > blockquote > p {
  font-style: italic;
}
div.epigraph > blockquote > footer {
  font-style: normal;
}
div.epigraph > blockquote > footer > cite {
  font-style: italic;
}
div.fullwidth {
  width: 100%;
}
div.table-wrapper {
  overflow-x: auto;
  font-family: Roboto Slab, Noto Sans, Trebuchet MS, Gill Sans, Gill Sans MT, sans-serif;
}

blockquote {
  font-size: 1.4rem;
  font-family: Roboto Slab;
}
blockquote p {
  width: 55%;
  margin-right: 40px;
}
blockquote footer {
  width: 55%;
  font-size: 1.1rem;
  text-align: right;
}
blockquote .sidenote {
  margin-right: -82%;
  min-width: 59%;
  text-align: left;
}
blockquote .marginnote {
  margin-right: -82%;
  min-width: 59%;
  text-align: left;
}

li {
  padding: 0.5rem 0;
}

figure {
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  max-width: 55%;
  margin: 0 0 3em 0;
}
figure.fullwidth figcaption {
  margin-right: 24%;
}

figcaption {
  float: right;
  clear: right;
  margin-right: -48%;
  margin-top: 0.5rem;
  margin-bottom: 0;
  font-size: 1.1rem;
  line-height: 1.6;
  vertical-align: baseline;
  position: relative;
  max-width: 40%;
  font-weight: 600;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  a:link {
    background-position-y: 87%, 87%, 87%;
  }
}
img {
  max-width: 100%;
}

.sidenote {
  float: right;
  clear: right;
  margin-right: -60%;
  width: 50%;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.1rem;
  line-height: 1.3;
  vertical-align: baseline;
  position: relative;
  color: #666666;
}
.sidenote:before {
  content: counter(sidenote-counter) " ";
  position: relative;
  vertical-align: baseline;
  content: counter(sidenote-counter) " ";
  top: -0.5rem;
}
.sidenote > code {
  font-size: 1rem;
}

.marginnote {
  float: right;
  clear: right;
  margin-right: -60%;
  width: 50%;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.1rem;
  line-height: 1.3;
  vertical-align: baseline;
  position: relative;
  color: #666666;
}
.marginnote > code {
  font-size: 1rem;
}

.sidenote-number {
  counter-increment: sidenote-counter;
}
.sidenote-number:after {
  content: counter(sidenote-counter) " ";
  position: relative;
  vertical-align: baseline;
  content: counter(sidenote-counter);
  font-size: 1rem;
  top: -0.75rem;
  left: 0.2rem;
  padding-right: 0.5rem;
}

footer {
  width: 55%;
}

table {
  width: 55%;
}
table.fullwidth {
  width: 100%;
}

.sans {
  font-family: Roboto Slab, Noto Sans, Gill Sans, Gill Sans MT, Calibri, sans-serif;
  letter-spacing: 0.03em;
}
.sans > code {
  font-size: 1.2rem;
}

code {
  font-family: monospace;
  font-size: 1.3rem;
  line-height: 2.2rem;
  background: rgba(255, 255, 255, 0.25);
  border: 1px solid rgba(200, 200, 200, 0.25);
}

.fullwidth {
  max-width: 90%;
  clear: both;
}

.initialthought::first-line {
  font-variant: small-caps;
  text-rendering: optimizeLegibility;
  font-weight: 400;
  font-size: 1.6rem;
}

@media (max-width: 25em) {
  .hide-xsm {
    display: none !important;
  }
}
@media (min-width: 48em) {
  .initialthought::first-letter {
    font-variant: normal;
    font-size: 275%;
    margin: 0.5rem 0.5rem 0 0;
    padding: 0.5rem;
    height: 0.9rem;
    line-height: 2.5rem;
    float: left;
    color: #333333;
  }
}
label.sidenote-number {
  display: inline;
  color: #666666;
}
label.margin-toggle:not(.sidenote-number) {
  display: none;
}

@media (max-width: 1280px) {
  .textualContent {
    padding-left: 4%;
    padding-right: 4%;
  }

  p {
    width: 100%;
  }

  footer {
    width: 100%;
  }

  ul {
    width: 85%;
  }

  figure {
    max-width: 90%;
  }
  figure.fullwidth figcaption {
    margin-right: 0;
    max-width: none;
  }

  figcaption {
    margin-right: 0;
    max-width: none;
  }

  blockquote {
    margin-left: 1.5em;
    margin-right: 0;
  }
  blockquote p {
    width: 100%;
  }
  blockquote footer {
    width: 100%;
  }

  label {
    cursor: pointer;
  }
  label.margin-toggle:not(.sidenote-number) {
    display: inline;
  }

  .sidenote {
    display: none;
  }

  .marginnote {
    display: none;
  }

  table {
    width: 85%;
  }

  img {
    width: 100%;
  }

  pre.code {
    width: 97%;
  }

  .margin-toggle:checked + .sidenote {
    display: block;
    float: left;
    left: 1rem;
    clear: both;
    width: 95%;
    margin: 1rem 2.5%;
    vertical-align: baseline;
    position: relative;
  }
  .margin-toggle:checked + .marginnote {
    display: block;
    float: left;
    left: 1rem;
    clear: both;
    width: 95%;
    margin: 1rem 2.5%;
    vertical-align: baseline;
    position: relative;
  }

  div.table-wrapper {
    width: 85%;
  }
}
pre.code {
  font-size: 0.9rem;
  width: 75.5%;
  margin-left: 1.5%;
  margin-right: 1.5%;
  padding: 0.5em 1em;
  overflow-x: auto;
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(200, 200, 200, 0.5);
}
pre.code.fullwidth {
  width: 90%;
}

.initialThought {
  padding: 0.66em;
  font-size: 1.2rem;
  color: #555;
  margin-top: 0.5em;
  margin-left: 0.25em;
  margin-bottom: 2em;
  clear: both;
}
.initialThought:after {
  content: "";
  position: relative;
  left: 0;
  top: 1em;
  width: 20%;
  display: block;
  border-bottom: 0.15em solid rgba(217, 149, 54, 0.75);
}

span.newthought {
  font-variant: small-caps;
  font-size: 1.2em;
}

input.margin-toggle {
  display: none;
}

body {
  overflow-y: scroll;
}

#blocks {
  column-count: 1;
  column-gap: 4rem;
  max-width: 1280px;
  padding-top: 1em;
}
#blocks div {
  margin-bottom: 1.25em;
  page-break-inside: avoid;
}
#blocks > article {
  margin-bottom: 1.5rem;
}

@media (min-width: 1920px) {
  #blocks {
    column-count: 4;
    column-gap: 4rem;
    margin: 2em auto;
    padding: 0.75em;
    max-width: 100%;
  }

  .card {
    max-width: 960px;
  }
}
@media (min-width: 1400px) and (max-width: 1920px) {
  #blocks {
    column-count: 3;
    column-gap: 6rem;
    margin: 2em auto;
    padding: 0.5em;
    max-width: 100%;
  }

  .card {
    max-width: 640px;
  }
}
@media (min-width: 960px) and (max-width: 1400px) {
  #blocks {
    column-count: 2;
    column-gap: 6rem;
    margin: 1.5em auto;
    padding: 0.25em;
  }

  .card {
    max-width: 480px;
  }
}
.card::after {
  width: 66%;
  content: "";
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  height: 0.2rem;
  display: block;
  margin: 0 auto;
  margin-top: 1.5em;
}

article.boxCard.deferred {
  position: relative;
}
article.boxCard.deferred:after {
  visibility: visible;
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0.35em;
  background-color: rgba(220, 220, 220, 0.6);
}
article.boxCard.deferred > * {
  visibility: hidden;
  opacity: 0;
}

article.boxCard > * {
  visibility: hidden;
  opacity: 0;
  visibility: visible;
  opacity: 1;
  transition: all 0.6s ease;
}

.card {
  page-break-inside: avoid;
  break-inside: avoid;
  min-width: 260px;
  page-break-before: always;
  margin: 0 auto !important;
  display: block;
}
.card h3 {
  font-family: Roboto Slab, serif;
  font-weight: 700;
  margin-left: 0.15em;
  line-height: 2rem;
  margin-right: 0.15em;
  clear: right;
}
.card h3 a {
  text-decoration: none;
  color: #332211;
}
.card .metadata {
  font-family: Noto Sans, sans-serif;
}
.card p {
  padding: 0 0.5em 1em 0em;
  font-size: 1rem;
  margin-left: 0.25em;
  line-height: 1.6em;
  width: 100%;
  font-weight: 500;
}
.card.inner {
  margin-left: 0 !important;
  margin-right: 0 !important;
  width: 100%;
}

.pagination-info {
  margin: 0 1em;
  width: 50%;
}

.center {
  margin: 0 auto;
}

.boxCard .coverImg {
  transition: all 0.33s ease;
}
.coverImg {
  box-shadow: 4px 6px 8px 0 rgba(220, 220, 220, 0.8);
  background-color: rgba(220, 220, 220, 0.3);
  border: 1px solid rgba(220, 220, 220, 0.6);
  border-radius: 0.35em;
}

.coverImg.transparent {
  box-shadow: none;
  background: none !important;
  border: none !important;
}

.coverImg.zoom-img {
  border: none !important;
  box-shadow: none;
  border-radius: 0.15em;
}

.recently {
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
  margin: 0 auto;
  color: rgba(0, 0, 0, 0.6);
}
.recently h4 {
  text-align: center;
  margin: 0 auto;
  color: rgba(0, 0, 0, 0.6);
}
.recently h4 span {
  font-family: Noto Sans, Gill Sans, Gill Sans MT, Calibri, sans-serif;
  font-weight: 700;
  color: #884433;
}
.recently h4 em {
  font-family: Noto Sans, Gill Sans, Gill Sans MT, Calibri, sans-serif;
  font-weight: 500;
  color: #777777;
}
.recently h4:after {
  content: "          ";
  text-decoration: line-through;
  margin-left: 1em;
  margin-right: 1em;
}
.recently h4:before {
  content: "          ";
  text-decoration: line-through;
  margin-left: 1em;
  margin-right: 1em;
}

#centerBody {
  height: auto;
}

.pagination .inner {
  margin: 0 auto;
}

.old-pagination {
  column-span: all;
}

.old-pagination .inner {
  text-align: center;
}

.post-date .section-link {
  color: rgba(61, 146, 201, 0.9);
  margin: 1em;
}

img[data-action=zoom] {
  cursor: pointer;
}

.zoom-img {
  position: relative;
  z-index: 666;
  transition: all 300ms;
}

.zoom-img-wrap {
  position: relative;
  z-index: 666;
  transition: all 300ms;
}

.zoom-overlay {
  z-index: 420;
  background: #f0f0f0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  filter: "alpha(opacity=0)";
  opacity: 0;
  transition: opacity 300ms;
}

.zoom-overlay-open {
  cursor: default;
}
.zoom-overlay-open .zoom-overlay {
  filter: "alpha(opacity=100)";
  opacity: 1;
}

.zoom-overlay-transitioning {
  cursor: default;
}

img.zoom-img {
  cursor: pointer;
}

.soc {
  display: inline;
  font-size: 0;
  list-style: none;
  margin: 0;
  text-align: center;
}
.soc li {
  display: inline-block;
  margin: 12px;
  margin: 1.2rem;
}
.soc a, .soc svg {
  display: block;
}
.soc a {
  position: relative;
  height: 24px;
  height: 2.4rem;
  width: 24px;
  width: 2.4rem;
}
.soc svg {
  height: 100%;
  width: 100%;
}
.soc em {
  font-size: 14px;
  line-height: 1.5;
  margin-top: -0.75em;
  position: absolute;
  text-align: center;
  top: 50%;
  right: 0;
  bottom: 0;
  left: 0;
}

.icon-30:hover, .icon-29:hover, .icon-28:hover, .icon-27:hover, .icon-26:hover, .icon-25:hover, .icon-24:hover, .icon-23:hover, .icon-22:hover, .icon-21:hover, .icon-20:hover, .icon-19:hover, .icon-18:hover, .icon-17:hover, .icon-16:hover, .icon-15:hover, .icon-14:hover, .icon-13:hover, .icon-12:hover, .icon-11:hover, .icon-10:hover, .icon-9:hover, .icon-8:hover, .icon-7:hover, .icon-6:hover, .icon-5:hover, .icon-4:hover, .icon-3:hover, .icon-2:hover, .icon-1:hover {
  border-radius: 100%;
  color: #0e1a25;
  fill: #fff;
  transform: scale(1.25);
  transition: background-color 0.5s, transform 0.5s ease-out;
}

.icon-1 {
  color: #d94a26;
  fill: #d94a26;
}
.icon-1:hover {
  background: #d94a26;
}

.icon-2 {
  color: #d96e26;
  fill: #d96e26;
}
.icon-2:hover {
  background: #d96e26;
}

.icon-3 {
  color: #d99126;
  fill: #d99126;
}
.icon-3:hover {
  background: #d99126;
}

.icon-4 {
  color: #d9b526;
  fill: #d9b526;
}
.icon-4:hover {
  background: #d9b526;
}

.icon-5 {
  color: #d9d926;
  fill: #d9d926;
}
.icon-5:hover {
  background: #d9d926;
}

.icon-6 {
  color: #b5d926;
  fill: #b5d926;
}
.icon-6:hover {
  background: #b5d926;
}

.icon-7 {
  color: #91d926;
  fill: #91d926;
}
.icon-7:hover {
  background: #91d926;
}

.icon-8 {
  color: #6ed926;
  fill: #6ed926;
}
.icon-8:hover {
  background: #6ed926;
}

.icon-9 {
  color: #4ad926;
  fill: #4ad926;
}
.icon-9:hover {
  background: #4ad926;
}

.icon-10 {
  color: #26d926;
  fill: #26d926;
}
.icon-10:hover {
  background: #26d926;
}

.icon-11 {
  color: #26d94a;
  fill: #26d94a;
}
.icon-11:hover {
  background: #26d94a;
}

.icon-12 {
  color: #26d96e;
  fill: #26d96e;
}
.icon-12:hover {
  background: #26d96e;
}

.icon-13 {
  color: #26d991;
  fill: #26d991;
}
.icon-13:hover {
  background: #26d991;
}

.icon-14 {
  color: #26d9b5;
  fill: #26d9b5;
}
.icon-14:hover {
  background: #26d9b5;
}

.icon-15 {
  color: #26d9d9;
  fill: #26d9d9;
}
.icon-15:hover {
  background: #26d9d9;
}

.icon-16 {
  color: #26b5d9;
  fill: #26b5d9;
}
.icon-16:hover {
  background: #26b5d9;
}

.icon-17 {
  color: #2691d9;
  fill: #2691d9;
}
.icon-17:hover {
  background: #2691d9;
}

.icon-18 {
  color: #266ed9;
  fill: #266ed9;
}
.icon-18:hover {
  background: #266ed9;
}

.icon-19 {
  color: #264ad9;
  fill: #264ad9;
}
.icon-19:hover {
  background: #264ad9;
}

.icon-20 {
  color: #2626d9;
  fill: #2626d9;
}
.icon-20:hover {
  background: #2626d9;
}

.icon-21 {
  color: #4a26d9;
  fill: #4a26d9;
}
.icon-21:hover {
  background: #4a26d9;
}

.icon-22 {
  color: #6e26d9;
  fill: #6e26d9;
}
.icon-22:hover {
  background: #6e26d9;
}

.icon-23 {
  color: #9126d9;
  fill: #9126d9;
}
.icon-23:hover {
  background: #9126d9;
}

.icon-24 {
  color: #b526d9;
  fill: #b526d9;
}
.icon-24:hover {
  background: #b526d9;
}

.icon-25 {
  color: #d926d9;
  fill: #d926d9;
}
.icon-25:hover {
  background: #d926d9;
}

.icon-26 {
  color: #d926b5;
  fill: #d926b5;
}
.icon-26:hover {
  background: #d926b5;
}

.icon-27 {
  color: #d92691;
  fill: #d92691;
}
.icon-27:hover {
  background: #d92691;
}

.icon-28 {
  color: #d9266e;
  fill: #d9266e;
}
.icon-28:hover {
  background: #d9266e;
}

.icon-29 {
  color: #d9264a;
  fill: #d9264a;
}
.icon-29:hover {
  background: #d9264a;
}

.icon-30 {
  color: #d92626;
  fill: #d92626;
}
.icon-30:hover {
  background: #d92626;
}

/**
 * Swiper 4.0.3
 * Most modern mobile touch slider and framework with hardware accelerated transitions
 * http://www.idangero.us/swiper/
 *
 * Copyright 2014-2017 Vladimir Kharlampidi
 *
 * Released under the MIT License
 *
 * Released on: October 27, 2017
 */
.swiper-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  /* Fix of Webkit flickering */
  z-index: 1;
}

.swiper-container-no-flexbox .swiper-slide {
  float: left;
}

.swiper-container-vertical > .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.swiper-container-android .swiper-slide,
.swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
  transform: translate3d(0px, 0, 0);
}

.swiper-container-multirow > .swiper-wrapper {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.swiper-container-free-mode > .swiper-wrapper {
  -webkit-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  margin: 0 auto;
}

.swiper-slide {
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.swiper-invisible-blank-slide {
  visibility: hidden;
}

/* Auto Height */
.swiper-container-autoheight,
.swiper-container-autoheight .swiper-slide {
  height: auto;
}

.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-transition-property: height, -webkit-transform;
  transition-property: height, -webkit-transform;
  -o-transition-property: transform, height;
  transition-property: transform, height;
  transition-property: transform, height, -webkit-transform;
}

/* 3D Effects */
.swiper-container-3d {
  -webkit-perspective: 1200px;
  perspective: 1200px;
}

.swiper-container-3d .swiper-wrapper,
.swiper-container-3d .swiper-slide,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-cube-shadow {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}

.swiper-container-3d .swiper-slide-shadow-left {
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-container-3d .swiper-slide-shadow-right {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-container-3d .swiper-slide-shadow-top {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-container-3d .swiper-slide-shadow-bottom {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

/* IE10 Windows Phone 8 Fixes */
.swiper-container-wp8-horizontal,
.swiper-container-wp8-horizontal > .swiper-wrapper {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
}

.swiper-container-wp8-vertical,
.swiper-container-wp8-vertical > .swiper-wrapper {
  -ms-touch-action: pan-x;
  touch-action: pan-x;
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  width: 27px;
  height: 44px;
  margin-top: -22px;
  z-index: 10;
  cursor: pointer;
  background-size: 27px 44px;
  background-position: center;
  background-repeat: no-repeat;
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
  left: 10px;
  right: auto;
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
  right: 10px;
  left: auto;
}

.swiper-button-prev.swiper-button-white,
.swiper-container-rtl .swiper-button-next.swiper-button-white {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
}

.swiper-button-next.swiper-button-white,
.swiper-container-rtl .swiper-button-prev.swiper-button-white {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
}

.swiper-button-prev.swiper-button-black,
.swiper-container-rtl .swiper-button-next.swiper-button-black {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E");
}

.swiper-button-next.swiper-button-black,
.swiper-container-rtl .swiper-button-prev.swiper-button-black {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E");
}

.swiper-pagination {
  position: absolute;
  text-align: center;
  -webkit-transition: 300ms opacity;
  -o-transition: 300ms opacity;
  transition: 300ms opacity;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 10;
}

.swiper-pagination.swiper-pagination-hidden {
  opacity: 0;
}

/* Common Styles */
.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 10px;
  left: 0;
  width: 100%;
}

/* Bullets */
.swiper-pagination-bullets-dynamic {
  overflow: hidden;
  font-size: 0;
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  -webkit-transform: scale(0.33);
  -ms-transform: scale(0.33);
  transform: scale(0.33);
  position: relative;
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev {
  -webkit-transform: scale(0.66);
  -ms-transform: scale(0.66);
  transform: scale(0.66);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev {
  -webkit-transform: scale(0.33);
  -ms-transform: scale(0.33);
  transform: scale(0.33);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next {
  -webkit-transform: scale(0.66);
  -ms-transform: scale(0.66);
  transform: scale(0.66);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next {
  -webkit-transform: scale(0.33);
  -ms-transform: scale(0.33);
  transform: scale(0.33);
}

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 100%;
  background: #000;
  opacity: 0.2;
}

button.swiper-pagination-bullet {
  border: none;
  margin: 0;
  padding: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: #007aff;
}

.swiper-container-vertical > .swiper-pagination-bullets {
  right: 10px;
  top: 50%;
  -webkit-transform: translate3d(0px, -50%, 0);
  transform: translate3d(0px, -50%, 0);
}

.swiper-container-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 6px 0;
  display: block;
}

.swiper-container-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 8px;
}

.swiper-container-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  display: inline-block;
  -webkit-transition: 200ms top, 200ms -webkit-transform;
  transition: 200ms top, 200ms -webkit-transform;
  -o-transition: 200ms transform, 200ms top;
  transition: 200ms transform, 200ms top;
  transition: 200ms transform, 200ms top, 200ms -webkit-transform;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 4px;
}

.swiper-container-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  white-space: nowrap;
}

.swiper-container-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  -webkit-transition: 200ms left, 200ms -webkit-transform;
  transition: 200ms left, 200ms -webkit-transform;
  -o-transition: 200ms transform, 200ms left;
  transition: 200ms transform, 200ms left;
  transition: 200ms transform, 200ms left, 200ms -webkit-transform;
}

.swiper-container-horizontal.swiper-container-rtl > .swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  -webkit-transition: 200ms right, 200ms -webkit-transform;
  transition: 200ms right, 200ms -webkit-transform;
  -o-transition: 200ms transform, 200ms right;
  transition: 200ms transform, 200ms right;
  transition: 200ms transform, 200ms right, 200ms -webkit-transform;
}

/* Progress */
.swiper-pagination-progressbar {
  background: rgba(0, 0, 0, 0.25);
  position: absolute;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: #007aff;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
}

.swiper-container-rtl .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  -webkit-transform-origin: right top;
  -ms-transform-origin: right top;
  transform-origin: right top;
}

.swiper-container-horizontal > .swiper-pagination-progressbar {
  width: 100%;
  height: 4px;
  left: 0;
  top: 0;
}

.swiper-container-vertical > .swiper-pagination-progressbar {
  width: 4px;
  height: 100%;
  left: 0;
  top: 0;
}

.swiper-pagination-white .swiper-pagination-bullet-active {
  background: #ffffff;
}

.swiper-pagination-progressbar.swiper-pagination-white {
  background: rgba(255, 255, 255, 0.25);
}

.swiper-pagination-progressbar.swiper-pagination-white .swiper-pagination-progressbar-fill {
  background: #ffffff;
}

.swiper-pagination-black .swiper-pagination-bullet-active {
  background: #000000;
}

.swiper-pagination-progressbar.swiper-pagination-black {
  background: rgba(0, 0, 0, 0.25);
}

.swiper-pagination-progressbar.swiper-pagination-black .swiper-pagination-progressbar-fill {
  background: #000000;
}

/* Scrollbar */
.swiper-scrollbar {
  border-radius: 10px;
  position: relative;
  -ms-touch-action: none;
  background: rgba(0, 0, 0, 0.1);
}

.swiper-container-horizontal > .swiper-scrollbar {
  position: absolute;
  left: 1%;
  bottom: 3px;
  z-index: 50;
  height: 5px;
  width: 98%;
}

.swiper-container-vertical > .swiper-scrollbar {
  position: absolute;
  right: 3px;
  top: 1%;
  z-index: 50;
  width: 5px;
  height: 98%;
}

.swiper-scrollbar-drag {
  height: 100%;
  width: 100%;
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  left: 0;
  top: 0;
}

.swiper-scrollbar-cursor-drag {
  cursor: move;
}

.swiper-zoom-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.swiper-zoom-container > img,
.swiper-zoom-container > svg,
.swiper-zoom-container > canvas {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.swiper-slide-zoomed {
  cursor: move;
}

/* Preloader */
.swiper-lazy-preloader {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -21px;
  margin-top: -21px;
  z-index: 10;
  -webkit-transform-origin: 50%;
  -ms-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-animation: swiper-preloader-spin 1s steps(12, end) infinite;
  animation: swiper-preloader-spin 1s steps(12, end) infinite;
}

.swiper-lazy-preloader:after {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  background-position: 50%;
  background-size: 100%;
  background-repeat: no-repeat;
}

.swiper-lazy-preloader-white:after {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%23fff'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}

@-webkit-keyframes swiper-preloader-spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes swiper-preloader-spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* a11y */
.swiper-container .swiper-notification {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  opacity: 0;
  z-index: -1000;
}

.swiper-container-fade.swiper-container-free-mode .swiper-slide {
  -webkit-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.swiper-container-fade .swiper-slide {
  pointer-events: none;
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}

.swiper-container-fade .swiper-slide .swiper-slide {
  pointer-events: none;
}

.swiper-container-fade .swiper-slide-active,
.swiper-container-fade .swiper-slide-active .swiper-slide-active {
  pointer-events: auto;
}

.swiper-container-cube {
  overflow: visible;
}

.swiper-container-cube .swiper-slide {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1;
  visibility: hidden;
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  width: 100%;
  height: 100%;
}

.swiper-container-cube .swiper-slide .swiper-slide {
  pointer-events: none;
}

.swiper-container-cube.swiper-container-rtl .swiper-slide {
  -webkit-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0;
}

.swiper-container-cube .swiper-slide-active,
.swiper-container-cube .swiper-slide-active .swiper-slide-active {
  pointer-events: auto;
}

.swiper-container-cube .swiper-slide-active,
.swiper-container-cube .swiper-slide-next,
.swiper-container-cube .swiper-slide-prev,
.swiper-container-cube .swiper-slide-next + .swiper-slide {
  pointer-events: auto;
  visibility: visible;
}

.swiper-container-cube .swiper-slide-shadow-top,
.swiper-container-cube .swiper-slide-shadow-bottom,
.swiper-container-cube .swiper-slide-shadow-left,
.swiper-container-cube .swiper-slide-shadow-right {
  z-index: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.swiper-container-cube .swiper-cube-shadow {
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.6;
  -webkit-filter: blur(50px);
  filter: blur(50px);
  z-index: 0;
}

.swiper-container-flip {
  overflow: visible;
}

.swiper-container-flip .swiper-slide {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1;
}

.swiper-container-flip .swiper-slide .swiper-slide {
  pointer-events: none;
}

.swiper-container-flip .swiper-slide-active,
.swiper-container-flip .swiper-slide-active .swiper-slide-active {
  pointer-events: auto;
}

.swiper-container-flip .swiper-slide-shadow-top,
.swiper-container-flip .swiper-slide-shadow-bottom,
.swiper-container-flip .swiper-slide-shadow-left,
.swiper-container-flip .swiper-slide-shadow-right {
  z-index: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.swiper-container-coverflow .swiper-wrapper {
  /* Windows 8 IE 10 fix */
  -ms-perspective: 1200px;
}

/*# sourceMappingURL=blug.css.map */
