/* noto-sans-regular - latin_latin-ext */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/noto-sans-v6-latin_latin-ext-regular.eot'); /* IE9 Compat Modes */
  src: local('Noto Sans'), local('NotoSans'),
  url('../fonts/noto-sans-v6-latin_latin-ext-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/noto-sans-v6-latin_latin-ext-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/noto-sans-v6-latin_latin-ext-regular.woff') format('woff'), /* Modern Browsers */
  url('../fonts/noto-sans-v6-latin_latin-ext-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/noto-sans-v6-latin_latin-ext-regular.svg#NotoSans') format('svg'); /* Legacy iOS */
}
/* noto-sans-italic - latin_latin-ext */
@font-face {
  font-family: 'Noto Sans';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/noto-sans-v6-latin_latin-ext-italic.eot'); /* IE9 Compat Modes */
  src: local('Noto Sans Italic'), local('NotoSans-Italic'),
  url('../fonts/noto-sans-v6-latin_latin-ext-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/noto-sans-v6-latin_latin-ext-italic.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/noto-sans-v6-latin_latin-ext-italic.woff') format('woff'), /* Modern Browsers */
  url('../fonts/noto-sans-v6-latin_latin-ext-italic.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/noto-sans-v6-latin_latin-ext-italic.svg#NotoSans') format('svg'); /* Legacy iOS */
}
/* noto-sans-700 - latin_latin-ext */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/noto-sans-v6-latin_latin-ext-700.eot'); /* IE9 Compat Modes */
  src: local('Noto Sans Bold'), local('NotoSans-Bold'),
  url('../fonts/noto-sans-v6-latin_latin-ext-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/noto-sans-v6-latin_latin-ext-700.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/noto-sans-v6-latin_latin-ext-700.woff') format('woff'), /* Modern Browsers */
  url('../fonts/noto-sans-v6-latin_latin-ext-700.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/noto-sans-v6-latin_latin-ext-700.svg#NotoSans') format('svg'); /* Legacy iOS */
}
/* roboto-slab-regular - latin_latin-ext */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-slab-v6-latin_latin-ext-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'),
  url('../fonts/roboto-slab-v6-latin_latin-ext-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/roboto-slab-v6-latin_latin-ext-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/roboto-slab-v6-latin_latin-ext-regular.woff') format('woff'), /* Modern Browsers */
  url('../fonts/roboto-slab-v6-latin_latin-ext-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/roboto-slab-v6-latin_latin-ext-regular.svg#RobotoSlab') format('svg'); /* Legacy iOS */
}
/* inconsolata-regular - latin */
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/inconsolata-v15-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Inconsolata Regular'), local('Inconsolata-Regular'),
  url('../fonts/inconsolata-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/inconsolata-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/inconsolata-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('../fonts/inconsolata-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/inconsolata-v15-latin-regular.svg#Inconsolata') format('svg'); /* Legacy iOS */
}
/* raleway-500 - latin_latin-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/raleway-v11-latin_latin-ext-500.eot'); /* IE9 Compat Modes */
  src: local('Raleway Medium'), local('Raleway-Medium'),
  url('../fonts/raleway-v11-latin_latin-ext-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/raleway-v11-latin_latin-ext-500.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/raleway-v11-latin_latin-ext-500.woff') format('woff'), /* Modern Browsers */
  url('../fonts/raleway-v11-latin_latin-ext-500.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/raleway-v11-latin_latin-ext-500.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* raleway-regular - latin_latin-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/raleway-v11-latin_latin-ext-regular.eot'); /* IE9 Compat Modes */
  src: local('Raleway'), local('Raleway-Regular'),
  url('../fonts/raleway-v11-latin_latin-ext-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/raleway-v11-latin_latin-ext-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/raleway-v11-latin_latin-ext-regular.woff') format('woff'), /* Modern Browsers */
  url('../fonts/raleway-v11-latin_latin-ext-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/raleway-v11-latin_latin-ext-regular.svg#Raleway') format('svg'); /* Legacy iOS */
}