img[data-action="zoom"] {
  cursor: pointer;
}
.zoom-img {
  position: relative;
  z-index: 666;
  transition: all 300ms;
}
.zoom-img-wrap {
  position: relative;
  z-index: 666;
  transition: all 300ms;
}
.zoom-overlay {
  z-index: 420;
  background: rgba(240,240,240, 1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  filter: "alpha(opacity=0)";
  opacity: 0;
  transition: opacity 300ms;
}
.zoom-overlay-open {
  cursor: default;
  .zoom-overlay {
    filter: "alpha(opacity=100)";
    opacity: 1;
  }
}
.zoom-overlay-transitioning {
  cursor: default;
}
img.zoom-img {
  cursor: pointer;
}