//colors
$black_10: rgba(0, 0, 0, 0.1);
$color_mikado_approx: rgb(51, 34, 17);
$color_boston_blue_90_approx: rgba(61, 146, 201, 0.9);
$color_fuscous_gray_20_approx: rgba(105, 105, 105, 0.1);
$color_mule_fawn_approx: rgb(136, 68, 51);
$color_tapa_approx: rgb(119, 119, 119);
$black_60: rgba(0, 0, 0, 0.6);

body {
  overflow-y: scroll;
}
#blocks {
  //Instead of the line below you could use @include column-count($count)
  column-count: 1;
  //Instead of the line below you could use @include column-gap($width)
  column-gap: 4rem;
  max-width: 1280px;
  padding-top: 1em;
  //padding: 0.15em;
  div {
    //margin: 0 auto;
    margin-bottom: 1.25em;
    page-break-inside: avoid;
  }
  > article {
    margin-bottom: 1.5rem;
  }
}
@media(min-width: 1920px) {
  #blocks {
    //Instead of the line below you could use @include column-count($count)
    column-count: 4;
    //Instead of the line below you could use @include column-gap($width)
    column-gap: 4rem;
    margin: 2em auto;
    padding: 0.75em;
    max-width: 100%;
  }
  .card {
    max-width: 960px;
  }
}

@media(min-width: 1400px) and(max-width: 1920px) {
  #blocks {
    //Instead of the line below you could use @include column-count($count)
    column-count: 3;
    //Instead of the line below you could use @include column-gap($width)
    column-gap: 6rem;
    margin: 2em auto;
    padding: 0.5em;
    max-width: 100%
  }
  .card {
    max-width: 640px;
  }
}
@media(min-width: 960px) and(max-width: 1400px) {
  #blocks {
    //Instead of the line below you could use @include column-count($count)
    column-count: 2;
    //Instead of the line below you could use @include column-gap($width)
    column-gap: 6rem;
    margin: 1.5em auto;
    padding: 0.25em;
  }
  .card {
    max-width: 480px;
  }
}
.card::after {
  width: 66%;
  content: '';
  border-bottom: 1px solid $black_10;
  height: 0.2rem;
  display: block;
  margin: 0 auto;
  margin-top: 1.5em;
}
article.boxCard.deferred {
  position: relative;
  &:after {
    visibility: visible;
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0.35em;
    background-color: rgba(220,220,220,0.6);
  }
  > * {
    visibility: hidden;
    opacity: 0.0;
  }
}
article.boxCard{
  > * {
    visibility: hidden;
    opacity: 0.0;
    visibility: visible;
    opacity: 1;
    transition: all 0.6s ease;
  }
}
.card {
  page-break-inside: avoid;
  break-inside: avoid;
  min-width: 260px;
  //margin-top: 2em;
  //margin-bottom: 1em;
  page-break-before: always;
  margin: 0 auto !important;
  display: block;
  //width: 95%;
  h3 {
    font-family: Roboto Slab, serif;
    font-weight: 700;
    margin-left: 0.15em;
    line-height: 2rem;
    margin-right: 0.15em;
    clear: right;
    a {
      text-decoration: none;
      color: $color_mikado_approx;
    }
  }
  .metadata {
    font-family: Noto Sans, sans-serif;
  }
  p {
    padding: 0 0.5em 1em 0em;
    font-size: 1rem;
    margin-left: 0.25em;
    line-height: 1.6em;
    width: 100%;
    //font-family: Noto Serif;
    font-weight: 500;
  }
  &.inner {
    margin-left: 0 !important;
    margin-right: 0 !important;
    width: 100%;
  }
}
.pagination-info {
  margin: 0 1em;
  width: 50%;
}
.center {
  margin: 0 auto;
}
.boxCard .coverImg {
  //filter: grayscale(0.1);
  transition: all 0.33s ease;

  //box-shadow: 0 0 200px rgba(0,0,0,0.4) inset;
  &:hover {
    //filter: grayscale(0) saturate(1.1);
    //box-shadow: none;

  }
}
.coverImg {
  //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  box-shadow: 4px 6px 8px 0 rgba(220,220,220,0.8);
  background-color: rgba(220,220,220,0.3);
  border: 1px solid rgba(220,220,220,0.6);
  border-radius: 0.35em;
}
.coverImg.transparent {
  //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  box-shadow: none;
  background: none !important;
  border: none !important;
}
.coverImg.zoom-img {
  border: none !important;
  box-shadow: none;
  border-radius: 0.15em;
}
.recently {
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
  margin: 0 auto;
  color: $black_60;
  h4 {
    text-align: center;
    margin: 0 auto;
    color: $black_60;
    span {
      font-family: Noto Sans, Gill Sans, Gill Sans MT, Calibri, sans-serif;
      font-weight: 700;
      color: $color_mule_fawn_approx;
    }
    em {
      font-family: Noto Sans, Gill Sans, Gill Sans MT, Calibri, sans-serif;
      font-weight: 500;
      color: $color_tapa_approx;
    }
    &:after {
      content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0";
      text-decoration: line-through;
      margin-left: 1em;
      margin-right: 1em;
    }
    &:before {
      content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0";
      text-decoration: line-through;
      margin-left: 1em;
      margin-right: 1em;
    }
  }
}
#centerBody {
  height: auto;
}
.pagination .inner {
  margin: 0 auto;
}
.old-pagination {
  column-span: all;
}
.old-pagination .inner {

  text-align: center;
}
.post-date .section-link {
  color: $color_boston_blue_90_approx;
  margin: 1em;
}