extends ../base
include ../../mixins/navigation
include ../../mixins/article
include ../../mixins/contact

block content
    | {{ $baseurl := .Site.BaseURL }}
    article.single
        +titlecrumbs('{{ .Title }}')
        +articleSubtitle

        section.article.animated.fadeIn
            +articleDescription
            | {{ if .Params.vimeo }}
            p
                .embed-container
                    iframe(src='http://player.vimeo.com/video/{{ .Params.vimeo }}', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
            | {{ end }}
            +articleImage
            | {{ .Content }}
            +articlePurchase


    footer.post-footer
        +articleShare

block footer