
<!--include ../../mixins/pagination-->{{ $baseurl := .Site.BaseURL }}
<article class="boxCard {{ if .Params.tileImage }}deferred{{ end }} {{ if .Params.featured }}featured{{ end }}">
  <div class="card inner dib zm">{{ if .Params.tileImage }}<a href="{{ .Permalink }}"><img src="{{ $.Params.tileImage }}" alt=""
      {{ with (imageConfig (print "static/" .Params.tileImage )) }}
      width="{{ .Width }}" height="{{ .Height }}" style="height: auto"
      {{ end }}
      class="{{ if .Params.transparent }}transparent{{ end }}coverImg" /></a>{{ end }}{{ if .Params.vimeo }}
    <div class="coverImg vimeoPlayer" id="vw{{.Params.vimeo}}" style="background-image: url(https://i.vimeocdn.com/video/{{.Params.vimeoid}}_720.jpg);" onclick="document.getElementById(&quot;vw{{.Params.vimeo}}&quot;).style.display = &quot;none&quot;;document.getElementById(&quot;vpf{{.Params.vimeo}}&quot;).src = document.getElementById(&quot;vpf{{.Params.vimeo}}&quot;).getAttribute(&quot;offsrc&quot;);document.getElementById(&quot;vp{{.Params.vimeo}}&quot;).style.display = &quot;block&quot;;">
      <div class="videoPlay">
        <div class="play-button"></div>
      </div>
    </div>
    <div class="embed-container" id="vp{{.Params.vimeo}}">
      <iframe id="vpf{{.Params.vimeo}}" offSrc="https://player.vimeo.com/video/{{ .Params.vimeo }}?title=0&amp;autoplay=1&amp;portrait=0&amp;byline=0&amp;color=d99536" frameborder="0" webkitallowfullscreen="webkitallowfullscreen" mozallowfullscreen="mozallowfullscreen" allowfullscreen="allowfullscreen"></iframe>
    </div>{{ end }}<span class="cb"></span>
  </div>
</article>