//include ../../mixins/pagination
include ../../mixins/navigation
include ../../mixins/card

| {{ $baseurl := .Site.BaseURL }}

+card

    +coverImage
    +vimeoPlayer

    h3.cardTitle
        a.breadcrumb-link(href='{{ .Permalink }}') {{ .Title }}