<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, user-scalable=yes, minimum-scale=1.0">
    <title>{{ if ne .RelPermalink "/" }} {{ .Title }} &middot; {{ end }} {{ .Site.Title }}</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link href="/css/blug.css?726837" rel="stylesheet">
    <script src="/js/bundled.js?726837" data-cf-beacon="{&quot;token&quot;: &quot;6267c628742c407f9875606d6696a251&quot;}"></script>
    <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png"/>
    <link rel="icon" type="image/png" href="/img/favicon-32x32.png" sizes="32x32"/>
    <link rel="icon" type="image/png" href="/img/favicon-16x16.png" sizes="16x16"/>
    <link rel="manifest" href="/img/manifest.json"/>
    <link rel="mask-icon" href="/img/safari-pinned-tab.svg" color="#5bbad5"/>
    <meta name="msapplication-config" content="/img/browserconfig.xml"/>
    <meta name="theme-color" content="#ffffff"/>
    <link rel="canonical" href="{{ .Permalink }}"/>
    <meta property="og:title" content="{{ if ne .RelPermalink "/" }} {{ .Title }} &middot; {{ end }} {{ .Site.Title }}"/>
    <meta property="og:site_name" content="{{ .Site.Title }}"/>
    <meta property="og:url" content="{{ .Permalink }}"/>{{ if .IsPage }}
    <meta property="og:type" content="article"/>
    <meta property="og:article:published_time" content="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}"/>{{ range .Params.tags }}
    <meta property="og:article:tag" content="{{ . }}"/>{{- end -}}
    {{- end -}}
    {{ if .Params.tileImage }}
    <meta property="og:image" content="{{ .Site.BaseURL }}{{ .Params.tileImage }}"/>{{ else }}
    {{ if .Params.imageurl }}
    <meta property="og:image" content="{{ .Site.BaseURL }}images/{{ .Params.imageurl }}"/>{{ end }}
    {{ end }}{{ if .IsPage }}
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:site" content="@{{ .Site.Params.twitter }}"/>
    <meta name="twitter:creator" content="@{{ .Site.Params.twitter }}"/>
    <meta name="twitter:title" content="{{ .Title }}"/>
    <meta name="twitter:description" content="{{ .Description }}"/>
    <meta name="twitter:url" content="{{ .Permalink }}"/>{{ else }}
    <meta property="og:type" content="website"/>{{ end }}{{ if .Description }}
    <meta name="description" content="{{ .Description }}"/>{{ else }}
    <meta name="description" content="{{ .Site.Params.description }}"/>{{ end }}
    <meta name="HandheldFriendly" content="True"/>
    <meta name="MobileOptimized" content="320"/>
    <script>
    !function(t,e){var o,n,p,r;e.__SV||(window.posthog=e,e._i=[],e.init=function(i,s,a){function g(t,e){var o=e.split(".");2==o.length&&(t=t[o[0]],e=o[1]),t[e]=function(){t.push([e].concat(Array.prototype.slice.call(arguments,0)))}}(p=t.createElement("script")).type="text/javascript",p.crossOrigin="anonymous",p.async=!0,p.src=s.api_host.replace(".i.posthog.com","-assets.i.posthog.com")+"/static/array.js",(r=t.getElementsByTagName("script")[0]).parentNode.insertBefore(p,r);var u=e;for(void 0!==a?u=e[a]=[]:a="posthog",u.people=u.people||[],u.toString=function(t){var e="posthog";return"posthog"!==a&&(e+="."+a),t||(e+=" (stub)"),e},u.people.toString=function(){return u.toString(1)+".people (stub)"},o="init capture register register_once register_for_session unregister unregister_for_session getFeatureFlag getFeatureFlagPayload isFeatureEnabled reloadFeatureFlags updateEarlyAccessFeatureEnrollment getEarlyAccessFeatures on onFeatureFlags onSessionId getSurveys getActiveMatchingSurveys renderSurvey canRenderSurvey identify setPersonProperties group resetGroups setPersonPropertiesForFlags resetPersonPropertiesForFlags setGroupPropertiesForFlags resetGroupPropertiesForFlags reset get_distinct_id getGroups get_session_id get_session_replay_url alias set_config startSessionRecording stopSessionRecording sessionRecordingStarted captureException loadToolbar get_property getSessionProperty createPersonProfile opt_in_capturing opt_out_capturing has_opted_in_capturing has_opted_out_capturing clear_opt_in_out_capturing debug getPageViewId captureTraceFeedback captureTraceMetric".split(" "),n=0;n<o.length;n++)g(u,o[n]);e._i.push([i,s,a])},e.__SV=1)}(document,window.posthog||[]);
    posthog.init('phc_oXYd4lMp4SBelLn8GPm6khaAxdp4lWOeuGAXQYOwDwi', {
        api_host: 'https://stats.platymoose.ninja',
        person_profiles: 'always', // or 'always' to create profiles for anonymous users as well
    })
</script>{{ if ne .IsNode true }}
    <link href="{{ .Site.BaseURL }}index.xml" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}"/>{{ end }}
    {{ if .IsNode }}
    {{ with .OutputFormats.Get "RSS" }}
    <link href="{{ .RelPermalink }}" rel="alternate" type="application/rss+xml"/>{{ end }}
    {{end}}
  </head>
  <body id="primary-content">
    <div class="pure-g" id="layout">
      <input id="menu-switch" type="checkbox" name="menu-switch">
      <div class="page-wrap content pure-u-1 pure-u-md-5-5" id="pj-wrap">
        <div class="posts textualContent pj-container" id="centerBody" role="main">{{ $baseurl := .Site.BaseURL }}
          <article class="single">
            <h1 class="animated fadeIn slow">
              <nav class="breadcrumb">
                <label class="mt" for="menu-switch"><span>&#9776;</span></label><a class="crumb" title="{{ .Site.Title }}" href="/"><img src="/img/{{ .Site.Params.icon }}"/></a><a class="breadcrumb-link hide-sm" href="/{{ .Section }}/">{{ .Section }}</a><span class="breadcrumb-link" title="{{ .Title }}">{{ .Title }}</span>
              </nav>
            </h1>
            {{ if .Params.showSubtitle }}
             {{ if .Params.subtitle }}
            <h2 class="articleSubtitle"> {{ .Params.subtitle }}</h2> {{ end }}
            {{ end }}
            {{ if .Params.featuredTag }}
            {{ $paramLen := len .Params.featuredTag }}
            {{ if gt $paramLen 0 }}
            <h3 class="cardTitle">
              Part of the
              {{ range $k, $v := .Params.featuredTag }}<a class="tag-link" href="/tags/{{ $v }}/">{{ $v }}</a>{{ if lt $k (sub $paramLen 1) }},{{ end }}
              {{ end }}
              series
            </h3>{{ end }}
            {{ end }}
            <section class="article animated fadeIn">{{ if .Params.vimeo }}{{ if .Params.vimeo }}
              <div class="coverImg vimeoPlayer" id="vw{{.Params.vimeo}}" style="background-image: url(https://i.vimeocdn.com/video/{{.Params.vimeoid}}_1200.jpg);" onclick="document.getElementById(&quot;vw{{.Params.vimeo}}&quot;).style.display = &quot;none&quot;;document.getElementById(&quot;vpf{{.Params.vimeo}}&quot;).src = document.getElementById(&quot;vpf{{.Params.vimeo}}&quot;).getAttribute(&quot;offsrc&quot;);document.getElementById(&quot;vp{{.Params.vimeo}}&quot;).style.display = &quot;block&quot;;">
                <div class="videoPlay">
                  <div class="play-button"></div>
                </div>
              </div>
              <div class="embed-container" id="vp{{.Params.vimeo}}">
                <iframe id="vpf{{.Params.vimeo}}" offSrc="https://player.vimeo.com/video/{{ .Params.vimeo }}?title=0&amp;autoplay=1&amp;portrait=0&amp;byline=0&amp;color=d99536" frameborder="0" webkitallowfullscreen="webkitallowfullscreen" mozallowfullscreen="mozallowfullscreen" allowfullscreen="allowfullscreen"></iframe>
              </div>{{ end }}{{ end }}{{ if .Params.gallery }}
              <div class="gallery">
                <!--.fullscreen(onclick='document.classList.push("zoomed")') [ fullscreen ]-->
                <div class="swiper-container gallery-top">
                  <div class="swiper-wrapper">{{ range $image := .Params.gallery }}
                    <div class="swiper-slide">
                      <div class="swiper-zoom-container"><img src="{{ $image.src }}"/></div>
                    </div>{{ end }}
                  </div>
                  <div class="swiper-button-prev"></div>
                  <div class="swiper-button-next"></div>
                </div>
                <div class="swiper-container gallery-thumbs">
                  <div class="swiper-wrapper">{{ range $image := .Params.gallery }}
                    <div class="swiper-slide" style="background-image: url(/images/{{ $image.src }}); cursor: pointer"></div>{{ if .Params.showGalleryTitle }}
                    {{ $image.title }}
                    {{ end }}
                    {{ end }}
                  </div>
                  <!--.swiper-scrollbar-->
                </div>
              </div>
              <script></script>{{ end }}
              <!--+articleImage-->{{ if .Description }}
              <p class="initialThought">{{ .Description }}</p>{{ end }}{{ .Content }}{{ if eq .Params.purchaseNow true }}
              <hr style="width: 80%;border: 1px solid #ccc"/>
              <center>
                <p>This fine work is available for purchase, so you can get your very own arriving at your doorstep, hand delivered by my platymeese!<br/></p><a class="buyNow" href="https://www.payfast.co.za/eng/process?cmd=_paynow&amp;receiver=12102310&amp;item_name={{.Params.title}}&amp;item_description={{ .Params.productDescription }}&amp;amount={{.Params.purchaseAmount}}.00&amp;return_url=https%3A%2F%2Fplatymoose.ninja%2Fpage%2Fthank-you%2F&amp;cancel_url=https%3A%2F%2Fplatymoose.ninja%2Fpage%2Fcontact-me%2F"><img src="/img/platybean-buy.png" width="288" height="248" alt="Buy" title="Buy now"/></a>
              </center>{{ end }}
            </section>
          </article>
          <footer class="post-footer">{{if .Params.tags }}
            <div class="tagCloud bottom-stroke">
              <div class="post-tags"> {{ range $index, $tag := .Params.tags }}<a class="pure-button button-small button-inverse breadcrumb-link tag-link" href="{{ $baseurl }}tags/{{ $tag | urlize }}/">{{$tag}}</a> {{ end }}</div>
            </div>{{ end }}
            {{ if ne .Params.unlisted true }}
            {{ if .Params.share }}
            <div class="social-sharing">
              <h4 class="hide-xsm dib right">Share<span class="hide-sm"> this</span> on</h4>
              <div class="post-share soc"><a class="icon-17 twitter" href="{{ if .Params.draft }}#{{ else }}https://twitter.com/share?text={{ .Title }}&amp;url={{ .Permalink }}{{ end }}" title="Twitter" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                  <svg viewbox="0 0 512 512">
                    <path d="M419.6 168.6c-11.7 5.2-24.2 8.7-37.4 10.2 13.4-8.1 23.8-20.8 28.6-36-12.6 7.5-26.5 12.9-41.3 15.8-11.9-12.6-28.8-20.6-47.5-20.6-42 0-72.9 39.2-63.4 79.9-54.1-2.7-102.1-28.6-134.2-68-17 29.2-8.8 67.5 20.1 86.9-10.7-.3-20.7-3.3-29.5-8.1-.7 30.2 20.9 58.4 52.2 64.6-9.2 2.5-19.2 3.1-29.4 1.1 8.3 25.9 32.3 44.7 60.8 45.2-27.4 21.4-61.8 31-96.4 27 28.8 18.5 63 29.2 99.8 29.2 120.8 0 189.1-102.1 185-193.6C399.9 193.1 410.9 181.7 419.6 168.6z"></path>
                  </svg></a><a class="icon-21 facebook" href="{{ if .Params.draft }}#{{ else }}https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}{{ end }}" title="Facebook" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
                  <svg viewbox="0 0 512 512">
                    <path d="M211.9 197.4h-36.7v59.9h36.7V433.1h70.5V256.5h49.2l5.2-59.1h-54.4c0 0 0-22.1 0-33.7 0-13.9 2.8-19.5 16.3-19.5 10.9 0 38.2 0 38.2 0V82.9c0 0-40.2 0-48.8 0-52.5 0-76.1 23.1-76.1 67.3C211.9 188.8 211.9 197.4 211.9 197.4z"></path>
                  </svg></a></div>
              <h4 class="hide-sm dib right hs1m">or</h4><a class="pure-button button-inverse permalink-wide no-barba" title="Permalink to this /{{ .Section }}/ entry" data-clipboard-text="{{ .Permalink }}"><span>Copy &infin;</span></a>
            </div>{{ end }}
            {{ end }}
          </footer>
           {{if .Site.Params.allowComments }}
           {{if .Params.comments }}
          {{ if .Params.draft }}
          {{ else }}
          <footer class="comments">
            <!--.recentlyh4 Comments
            --><a class="muut" href="https://muut.com/i/{{ .Site.Params.muutName }}/comments/{{ .Section | urlize }}:{{ .Slug }}" type="dynamic" data-show_online="false" data-share="false" data-upload="false" data-channel="{{ .Section }}" data-title="{{ .Title }}"></a>
          </footer> {{ end }}
           {{ end }}
           {{ end }}
        </div>
      </div>
      <nav id="menu" role="navigation">
        <div class="menu-brand">
          <h1><a href="/"><img src="/img/{{ .Site.Params.icon }}">{{ .Site.Title | urlize }}</a></h1><strong class="strapline">{{ .Site.Params.tagline }}</strong>
        </div>
        <label class="close" id="menu-toggle" for="menu-switch"></label>
        <nav role="navigation">
          {{ $currentPage := . }}
          {{ range .Site.Menus.main }}
          {{ if ne .Name "Page" }}
          {{ if ne .Name "Header" }}<a class="breadcrumb-link pure-button button-inverse menulink" href="{{.URL}}" title="All {{ .Name | urlize }} posts">{{ .Name | urlize}}</a>{{ end }}
          {{ end }}
          {{ end }}
        </nav>
        <div class="recently">
          <h4><em>Other</em></h4>
        </div>
        <nav class="cb" role="navigation">
          {{ $currentPage := . }}
          {{ range .Site.Menus.custom }}<a class="breadcrumb-link pure-button button-inverse menulink {{ .Pre }}" href="{{.URL}}">{{ .Name | urlize}}</a>{{ end }}
        </nav>
      </nav>
    </div>
  </body>
</html>