extends ../base
include ../../mixins/navigation
include ../../mixins/article
include ../../mixins/card

block content
    | {{ $baseurl := .Site.BaseURL }}
    article.single
        +titlecrumbs('{{ .Title }}', '{{ .Section }}')
        +articleSubtitle
        +postMetadata

        section.article.animated.fadeIn
            | {{ if .Params.vimeo }}
            +vimeoPlayer(1200)
            | {{ end }}
            +articleGallery
            //+articleImage
            +articleDescription
            | {{ .Content }}
            +articlePurchase


    footer.post-footer
        +articleTags
        +articleShare

    +articleComments

block footer