mixin articleSubtitle
    | {{ if .Params.showSubtitle }}
    |  {{ if .Params.subtitle }}
    h2.articleSubtitle  {{ .Params.subtitle }}
    |  {{ end }}
    | {{ end }}

mixin postMetadata

    | {{ if .Params.featuredTag }}
    | {{ $paramLen := len .Params.featuredTag }}
    | {{ if gt $paramLen 0 }}
    h3.cardTitle
        | Part of the
        | {{ range $k, $v := .Params.featuredTag }}
        a.tag-link(href='/tags/{{ $v }}/') {{ $v }}
        | {{ if lt $k (sub $paramLen 1) }},{{ end }}
        | {{ end }}
        | series
    | {{ end }}
    | {{ end }}

mixin articleDescription
    | {{ if .Description }}
    p.initialThought {{ .Description }}
    | {{ end }}

mixin articleImage
    | {{ if .Params.imageUrl }}
    figure
        figcaption  {{ .Params.imageTitle }}
        img.coverImg(src='{{ .Params.imageUrl }}', alt='{{ .Params.imageTitle }}', data-action='zoom', data-original='{{ .Params.imageUrlLarge }}', class='{{ if .Params.transparent }}transparent{{ end }}')
    | {{ end }}

mixin articleGallery
    | {{ if .Params.gallery }}
    .gallery
        //.fullscreen(onclick='document.classList.push("zoomed")') [ fullscreen ]

        .swiper-container.gallery-top
            .swiper-wrapper
                | {{ range $image := .Params.gallery }}
                .swiper-slide
                    .swiper-zoom-container
                        img(src='{{ $image.src }}')
                | {{ end }}
            .swiper-button-prev
            .swiper-button-next
        .swiper-container.gallery-thumbs
            .swiper-wrapper
                | {{ range $image := .Params.gallery }}
                .swiper-slide(style='background-image: url(/images/{{ $image.src }}); cursor: pointer')
                | {{ if .Params.showGalleryTitle }}
                | {{ $image.title }}
                | {{ end }}
                | {{ end }}
            //.swiper-scrollbar
    script.

    | {{ end }}

mixin articleTags
    | {{if .Params.tags }}
    .tagCloud.bottom-stroke
        .post-tags
            |  {{ range $index, $tag := .Params.tags }}
            a.pure-button.button-small.button-inverse.breadcrumb-link.tag-link(href='{{ $baseurl }}tags/{{ $tag | urlize }}/') {{$tag}}
            |  {{ end }}
    | {{ end }}

mixin articleComments
    |  {{if .Site.Params.allowComments }}
    |  {{if .Params.comments }}
    | {{ if .Params.draft }}
    | {{ else }}
    footer.comments
        //.recently
            h4 Comments
        a.muut(href='https://muut.com/i/{{ .Site.Params.muutName }}/comments/{{ .Section | urlize }}:{{ .Slug }}', type='dynamic', data-show_online='false', data-share='false', data-upload='false', data-channel='{{ .Section }}', data-title='{{ .Title }}')
    |  {{ end }}
    |  {{ end }}
    |  {{ end }}

mixin articleShare
    | {{ if ne .Params.unlisted true }}
    | {{ if .Params.share }}
    .social-sharing
        h4.hide-xsm.dib.right Share
            span.hide-sm  this
            |  on
        .post-share.soc
            a.icon-17.twitter(href='{{ if .Params.draft }}#{{ else }}https://twitter.com/share?text={{ .Title }}&url={{ .Permalink }}{{ end }}', title='Twitter', onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;")
                svg(viewbox='0 0 512 512')
                    path(d='M419.6 168.6c-11.7 5.2-24.2 8.7-37.4 10.2 13.4-8.1 23.8-20.8 28.6-36-12.6 7.5-26.5 12.9-41.3 15.8-11.9-12.6-28.8-20.6-47.5-20.6-42 0-72.9 39.2-63.4 79.9-54.1-2.7-102.1-28.6-134.2-68-17 29.2-8.8 67.5 20.1 86.9-10.7-.3-20.7-3.3-29.5-8.1-.7 30.2 20.9 58.4 52.2 64.6-9.2 2.5-19.2 3.1-29.4 1.1 8.3 25.9 32.3 44.7 60.8 45.2-27.4 21.4-61.8 31-96.4 27 28.8 18.5 63 29.2 99.8 29.2 120.8 0 189.1-102.1 185-193.6C399.9 193.1 410.9 181.7 419.6 168.6z')
            a.icon-21.facebook(href='{{ if .Params.draft }}#{{ else }}https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}{{ end }}', title='Facebook', onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;")
                svg(viewbox='0 0 512 512')
                    path(d='M211.9 197.4h-36.7v59.9h36.7V433.1h70.5V256.5h49.2l5.2-59.1h-54.4c0 0 0-22.1 0-33.7 0-13.9 2.8-19.5 16.3-19.5 10.9 0 38.2 0 38.2 0V82.9c0 0-40.2 0-48.8 0-52.5 0-76.1 23.1-76.1 67.3C211.9 188.8 211.9 197.4 211.9 197.4z')
        h4.hide-sm.dib.right.hs1m or
        a.pure-button.button-inverse.permalink-wide.no-barba(title='Permalink to this /{{ .Section }}/ entry', data-clipboard-text='{{ .Permalink }}')
            span Copy &infin;
    | {{ end }}
    | {{ end }}

mixin articlePurchase
    | {{ if eq .Params.purchaseNow true }}
    hr(style="width: 80%;border: 1px solid #ccc")
    center
        p This fine work is available for purchase, so you can get your very own arriving at your doorstep, hand delivered by my platymeese!<br/>
        a(class="buyNow", href="https://www.payfast.co.za/eng/process?cmd=_paynow&receiver=12102310&item_name={{.Params.title}}&item_description={{ .Params.productDescription }}&amount={{.Params.purchaseAmount}}.00&return_url=https%3A%2F%2Fplatymoose.ninja%2Fpage%2Fthank-you%2F&cancel_url=https%3A%2F%2Fplatymoose.ninja%2Fpage%2Fcontact-me%2F")
            img(src="/img/platybean-buy.png", width="288", height="248", alt="Buy", title="Buy now")

    | {{ end }}