mixin contactForm()
    h2.formTitle Want to get in touch?
    form#contactForm.pure-form(onsubmit='tryContact(this);return false;', action='#')
        legend
            h4 I'll just need your details, so I can get back to you
        fieldset.pure-group.pure-g
            .pure-u-1.pure-u-md-2-3.pure-u-sm-1.pure-u-lg-2-5
                input.pure-input-1(name='contactName', type='text', placeholder='Your name', required)
                input.pure-input-1(name='contactEmail', type='email', placeholder='Your email', required)
        fieldset.pure-group.pure-g
            .pure-u-1.pure-u-md-2-3.pure-u-sm-1.pure-u-lg-2-5
                textarea.pure-input-1(name='contactMsg', placeholder='Your message', rows=8, required)
        button#submit.pure-button.button-inverse.highlight(type='submit') Send me a pigeon!
        button#goBack.pure-button.button-inverse.din(onclick='document.location="/"') Back home