mixin openGraphData
    meta(property='og:title', content!='{{ if ne .RelPermalink \"/\" }} {{ .Title }} &middot; {{ end }} {{ .Site.Title }}')
    meta(property='og:site_name', content='{{ .Site.Title }}')
    meta(property='og:url', content='{{ .Permalink }}')
    | {{ if .IsPage }}
    meta(property='og:type', content='article')
    meta(property='og:article:published_time', content!='{{ .Date.Format \"2006-01-02T15:04:05Z07:00\" | safeHTML }}')
    | {{ range .Params.tags }}
    meta(property='og:article:tag', content='{{ . }}')
    | {{- end -}}
    | {{- end -}}

    | {{ if .Params.tileImage }}
    meta(property='og:image', content='{{ .Site.BaseURL }}{{ .Params.tileImage }}')
    | {{ else }}
    | {{ if .Params.imageurl }}
    meta(property='og:image', content='{{ .Site.BaseURL }}images/{{ .Params.imageurl }}')
    | {{ end }}
    | {{ end }}

mixin twitterData
    | {{ if .IsPage }}
    meta(name='twitter:card', content='summary')
    meta(name='twitter:site', content='@{{ .Site.Params.twitter }}')
    meta(name='twitter:creator', content='@{{ .Site.Params.twitter }}')
    meta(name='twitter:title', content='{{ .Title }}')
    meta(name='twitter:description', content='{{ .Description }}')
    meta(name='twitter:url', content='{{ .Permalink }}')
    | {{ else }}
    meta(property='og:type', content='website')
    | {{ end }}

mixin generalMeta
    | {{ if .Description }}
    meta(name='description', content='{{ .Description }}')
    | {{ else }}
    meta(name='description', content='{{ .Site.Params.description }}')
    | {{ end }}

mixin rss
    | {{ if ne .IsNode true }}
    link(href='{{ .Site.BaseURL }}index.xml', rel='alternate', type='application/rss+xml', title='{{ .Site.Title }}')
    | {{ end }}
    | {{ if .IsNode }}
    | {{ with .OutputFormats.Get "RSS" }}
    link(href='{{ .RelPermalink }}', rel='alternate', type='application/rss+xml')
    | {{ end }}
    | {{end}}

mixin analytics
    script
        | !function(t,e){var o,n,p,r;e.__SV||(window.posthog=e,e._i=[],e.init=function(i,s,a){function g(t,e){var o=e.split(".");2==o.length&&(t=t[o[0]],e=o[1]),t[e]=function(){t.push([e].concat(Array.prototype.slice.call(arguments,0)))}}(p=t.createElement("script")).type="text/javascript",p.crossOrigin="anonymous",p.async=!0,p.src=s.api_host.replace(".i.posthog.com","-assets.i.posthog.com")+"/static/array.js",(r=t.getElementsByTagName("script")[0]).parentNode.insertBefore(p,r);var u=e;for(void 0!==a?u=e[a]=[]:a="posthog",u.people=u.people||[],u.toString=function(t){var e="posthog";return"posthog"!==a&&(e+="."+a),t||(e+=" (stub)"),e},u.people.toString=function(){return u.toString(1)+".people (stub)"},o="init capture register register_once register_for_session unregister unregister_for_session getFeatureFlag getFeatureFlagPayload isFeatureEnabled reloadFeatureFlags updateEarlyAccessFeatureEnrollment getEarlyAccessFeatures on onFeatureFlags onSessionId getSurveys getActiveMatchingSurveys renderSurvey canRenderSurvey identify setPersonProperties group resetGroups setPersonPropertiesForFlags resetPersonPropertiesForFlags setGroupPropertiesForFlags resetGroupPropertiesForFlags reset get_distinct_id getGroups get_session_id get_session_replay_url alias set_config startSessionRecording stopSessionRecording sessionRecordingStarted captureException loadToolbar get_property getSessionProperty createPersonProfile opt_in_capturing opt_out_capturing has_opted_in_capturing has_opted_out_capturing clear_opt_in_out_capturing debug getPageViewId captureTraceFeedback captureTraceMetric".split(" "),n=0;n<o.length;n++)g(u,o[n]);e._i.push([i,s,a])},e.__SV=1)}(document,window.posthog||[]);
        | posthog.init('phc_oXYd4lMp4SBelLn8GPm6khaAxdp4lWOeuGAXQYOwDwi', {
        |   api_host: 'https://stats.playmoose.ninja',
        |   person_profiles: 'always', // or 'always' to create profiles for anonymous users as well
        | })

mixin pageMetadata
    link(rel='canonical', href='{{ .Permalink }}')
    +openGraphData
    +twitterData
    +generalMeta

    meta(name='HandheldFriendly', content='True')
    meta(name='MobileOptimized', content='320')
    +analytics
    +rss

mixin prefetchFonts
    link(rel='prefetch', href='/fonts/roboto-slab-v6-latin_latin-ext-regular.woff2')
    link(rel='prefetch', href='/fonts/raleway-v11-latin_latin-ext-500.woff2')
    link(rel='prefetch', href='/fonts/noto-sans-v6-latin_latin-ext-italic.woff2')
    link(rel='prefetch', href='/fonts/raleway-v11-latin_latin-ext-regular.woff2')