mixin siteIcon
    label.mt(for='menu-switch')
        span &#9776;
    a.crumb(title='{{ .Site.Title }}', href='/')
        img(src='/img/{{ .Site.Params.icon }}')

mixin crumb(title)
    h1.animated.fadeIn.slow

        nav.breadcrumb
            +siteIcon
            span.cb
            span.breadcrumb-link #{title || 'Everything' }


mixin breadcrumbs(titleText, section)
    h1.animated.fadeIn.slow
        nav.breadcrumb
            +siteIcon

            | {{ if $paginator.HasPrev }}
            if titleText == 'Everything'
                a.breadcrumb-link.hide-sm(href='/') {{ .Site.Params.allPostsHeader }}
            else
                a.breadcrumb-link(href='../../') #{titleText}

            span.title-pager.breadcrumb-link(title='Page {{$paginator.PageNumber}}')
                span.hide-sm page
                small  {{$paginator.PageNumber}}

            | {{ else }}
            if titleText == 'Everything'
                a.breadcrumb-link.hide-sm(href='/') {{ .Site.Params.allPostsHeader }}
            else
                a.breadcrumb-link(href='../../') #{titleText}
            | {{ end }}

mixin titlecrumbs(titleText, section)
    h1.animated.fadeIn.slow
        nav.breadcrumb
            +siteIcon
            if section
                a.breadcrumb-link.hide-sm(href='/'+section+'/') #{section}
            span.breadcrumb-link(title=titleText) #{titleText}

mixin permalink()
    a.pure-button.button-inverse.permalink(href='{{ .Permalink }}', title='Permalink to this post') &infin;

mixin tagsMenu
    nav(role='navigation')
        | {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
        a.breadcrumb-link.tag-link.pure-button.button-inverse(href='/tags/{{ $name | urlize }}') {{ $name | urlize}}
        | {{ end }}


mixin sideMenu
    nav(role='navigation')
        | {{ $currentPage := . }}
        | {{ range .Site.Menus.main }}
        | {{ if ne .Name "Page" }}
        | {{ if ne .Name "Header" }}
        a.breadcrumb-link.pure-button.button-inverse.menulink(href='{{.URL}}', title='All {{ .Name | urlize }} posts') {{ .Name | urlize}}
        | {{ end }}
        | {{ end }}
        | {{ end }}

mixin customMenu
    nav.cb(role='navigation')
        | {{ $currentPage := . }}
        | {{ range .Site.Menus.custom }}
        a.breadcrumb-link.pure-button.button-inverse.menulink(href='{{.URL}}', class='{{ .Pre }}') {{ .Name | urlize}}
        | {{ end }}

mixin textSizes
    nav.cb(role='navigation')
        .text-sizes.hide-sm
            a.pure-button.button-inverse.no-barba(href='', title='Set your text size to 70%' onclick='setDocSize(70);return false', style='font-size: 0.7em;') &#x1f5db;
            a.pure-button.button-inverse.no-barba(href='', title='Set your text size to 80%' onclick='setDocSize(80);return false', style='font-size: 0.8em;') &#x1f5db;
            a.pure-button.button-inverse.no-barba(href='', title='Set your text size to 90%' onclick='setDocSize(90);return false', style='font-size: 0.9em;') &#x1f5db;
            a.pure-button.button-inverse.no-barba(href='', title='Set your text size to 100%' onclick='setDocSize(100);return false', style='font-size: 1.1em;') &#x1f5db;

mixin footer
    | {{ if .Site.Params.footer }}
    footer.site-footer
        article.pure-g
            section.l-box-lrg.pure-u-1.pure-u-md-5-5
                h3 {{ .Site.Params.footerTitle }}
            section.l-box-lrg.pure-u-1.pure-u-md-2-5
                nav(role='navigation')
                    | {{ $currentPage := . }}
                    | {{ range .Site.Menus.main }}
                    | {{ if ne .Name "Page" }}
                    | {{ if ne .Name "Header" }}
                    a.breadcrumb-link.pure-button.button-inverse.menulink(href='{{.URL}}', title='All {{ .Name | urlize }} posts') {{ .Name | urlize}}
                    | {{ end }}
                    | {{ end }}
                    | {{ end }}
                .recently
                +customMenu
            section.l-box-lrg.pure-u-1.pure-u-md-3-5
                p.footerInfo(style="margin: 0 0 0.5em 0; font-size: 0.85em") {{ .Site.Params.footerText }}
                nav(role='navigation')
                    | {{ $currentPage := . }}
                    | {{ range .Site.Menus.footer }}
                    a.menulink.pure-button.button-inverse(href='{{.URL}}', class='{{ .Pre }}') {{ .Name }}
                    | {{ end }}
            section.l-box-lrg.pure-u-1.pure-u-md-2-5
                h3 Subscribe to my newsletter
                form(style='padding:0.5em;', action='https://tinyletter.com/platymoose', method='post', target='popupwindow', onsubmit="window.open('https://tinyletter.com/platymoose', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true")
                    p
                        label(for='tlemail') Enter your email address
                    input#tlemail(type='text', style='width:25em;', name='email')
                    p
                        input(type='hidden', value='1', name='embed')
                        input(type='submit', value='Subscribe')

    | {{ end }}



