mixin aboutThisSite()
    | {{ if $paginator.HasPrev }}
    | {{ else }}
    div
        h2 {{ .Site.Params.headerText }}
        | {{ range first 1 (where site.RegularPages "Type" "in" "header" ) }}
        | {{ .Content }}
        | {{ end }}
    | {{ end }}


mixin featured()
    .recently
        h4
            em Featured

mixin recently()
    | {{ if gt $paginator.TotalPages 1 }}
    |   {{ if eq $paginator.PageNumber 1 }}
    .recently
        h4
            em Recently
    |   {{ end }}
    | {{ end }}

mixin prevPage()
    | {{if $paginator.HasPrev}}
    nav#pagination.pagination.new-pagination(role='pagination')
        .recently
            //a.pure-button.button-small.button-inverse.button-secondary.pagination-item.pagination-next(href='{{ $paginator.Prev.URL }}')
                span Newer Posts
            a.pagination-item.pagination-next.pure-button.button-inverse(href='{{ $paginator.Prev.URL }}')
                span Newer
            //h4.pagination-info

                em Page
                    strong  {{ $paginator.PageNumber }}
                    |  of
                    strong  {{ $paginator.TotalPages}}

    | {{end}}

mixin nextPage()
    nav#pagination.pagination.old-pagination(role='pagination')
        .recently
            | {{if $paginator.HasNext}}
            h4.pagination-info
                em Page
                    strong  {{ $paginator.PageNumber }}
                    |  of
                    strong  {{ $paginator.TotalPages}}
            a.pagination-item.pagination-prev.pure-button.button-inverse(href='{{ $paginator.Next.URL }}')
                span Older
            | {{ else }}
            h4
                em No more posts
            | {{end}}

mixin listUnpagedItems(paginator, b)
    | {{ #{paginator} := where (.Site.RegularPages) ".Params.featured" true }}
    -paginator = paginator != null ? paginator : '$paginator'
    -var ranger = '{{ range ' + paginator + '}}'
    | {{ $t2:= .Title }}
    =ranger
    | {{ if ne .Params.unlisted true }}
    | {{ if ne .Section "page" }}
    | {{ if eq .Section ($t2 | urlize) }}
    | {{ .Render "li_incontext" }}
    | {{ else }}
    | {{ .Render "li" }}
    | {{ end }}
    | {{ end }}
    | {{ end }}
    | {{ end }}


mixin listItems(paginator, b)
    -paginator = paginator != null ? paginator : '$paginator'
    -var ranger = '{{ range $index, $page := ' + paginator + '.Pages }}'
    | {{ $t2:= .Title }}
    =ranger
    | {{ if ne .Params.unlisted true }}
    | {{ if ne .Section "page" }}
    | {{ if ne .Section "header" }}
    | {{ if eq .Section ($t2 | urlize) }}
    | {{ .Render "li_incontext" }}
    | {{ else }}
    | {{ .Render "li" }}
    | {{ end }}
    | {{ end }}
    | {{ end }}
    | {{ end }}

    | {{ end }}
