include ../mixins/navigation
include ../mixins/metadata
include ../mixins/iconMetadata
include ../mixins/comments
include ../mixins/tracking
doctype html
- var now = new Date().getTime()
- var tock = (now + "").substr(7)

html
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, shrink-to-fit=no, user-scalable=yes, minimum-scale=1.0')
        title {{ if ne .RelPermalink "/" }} {{ .Title }} &middot; {{ end }} {{ .Site.Title }}
        meta(http-equiv='x-ua-compatible', content='ie=edge')
        link(href='/css/blug.css?' + tock rel='stylesheet')
        script(src='/js/bundled.js?' + tock, data-cf-beacon='{"token": "6267c628742c407f9875606d6696a251"}')
        +favIcon
        +pageMetadata
        block meta

    body#primary-content
        #layout.pure-g
            input#menu-switch(type='checkbox', name='menu-switch', checked=false)

            #pj-wrap.page-wrap.content.pure-u-1.pure-u-md-5-5
                #centerBody.posts.textualContent.pj-container(role='main')
                    block content

            nav#menu(role='navigation')
                .menu-brand
                    h1
                        a(href='/')
                            img(src='/img/{{ .Site.Params.icon }}')
                            | {{ .Site.Title | urlize }}
                    strong.strapline {{ .Site.Params.tagline }}

                label#menu-toggle.close(for='menu-switch')
                +sideMenu
                .recently
                    h4
                        em Other
                +customMenu

            block footer
                +footer
