<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, user-scalable=yes, minimum-scale=1.0">
    <title>{{ if ne .RelPermalink "/" }} {{ .Title }} &middot; {{ end }} {{ .Site.Title }}</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link href="/css/blug.css?726749" rel="stylesheet">
    <script src="/js/bundled.js?726749" data-cf-beacon="{&quot;token&quot;: &quot;6267c628742c407f9875606d6696a251&quot;}"></script>
    <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png"/>
    <link rel="icon" type="image/png" href="/img/favicon-32x32.png" sizes="32x32"/>
    <link rel="icon" type="image/png" href="/img/favicon-16x16.png" sizes="16x16"/>
    <link rel="manifest" href="/img/manifest.json"/>
    <link rel="mask-icon" href="/img/safari-pinned-tab.svg" color="#5bbad5"/>
    <meta name="msapplication-config" content="/img/browserconfig.xml"/>
    <meta name="theme-color" content="#ffffff"/>
    <link rel="canonical" href="{{ .Permalink }}"/>
    <meta property="og:title" content="{{ if ne .RelPermalink "/" }} {{ .Title }} &middot; {{ end }} {{ .Site.Title }}"/>
    <meta property="og:site_name" content="{{ .Site.Title }}"/>
    <meta property="og:url" content="{{ .Permalink }}"/>{{ if .IsPage }}
    <meta property="og:type" content="article"/>
    <meta property="og:article:published_time" content="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}"/>{{ range .Params.tags }}
    <meta property="og:article:tag" content="{{ . }}"/>{{- end -}}
    {{- end -}}
    {{ if .Params.tileImage }}
    <meta property="og:image" content="{{ .Site.BaseURL }}{{ .Params.tileImage }}"/>{{ else }}
    {{ if .Params.imageurl }}
    <meta property="og:image" content="{{ .Site.BaseURL }}images/{{ .Params.imageurl }}"/>{{ end }}
    {{ end }}{{ if .IsPage }}
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:site" content="@{{ .Site.Params.twitter }}"/>
    <meta name="twitter:creator" content="@{{ .Site.Params.twitter }}"/>
    <meta name="twitter:title" content="{{ .Title }}"/>
    <meta name="twitter:description" content="{{ .Description }}"/>
    <meta name="twitter:url" content="{{ .Permalink }}"/>{{ else }}
    <meta property="og:type" content="website"/>{{ end }}{{ if .Description }}
    <meta name="description" content="{{ .Description }}"/>{{ else }}
    <meta name="description" content="{{ .Site.Params.description }}"/>{{ end }}
    <meta name="HandheldFriendly" content="True"/>
    <meta name="MobileOptimized" content="320"/>
    <script>
    !function(t,e){var o,n,p,r;e.__SV||(window.posthog=e,e._i=[],e.init=function(i,s,a){function g(t,e){var o=e.split(".");2==o.length&&(t=t[o[0]],e=o[1]),t[e]=function(){t.push([e].concat(Array.prototype.slice.call(arguments,0)))}}(p=t.createElement("script")).type="text/javascript",p.crossOrigin="anonymous",p.async=!0,p.src=s.api_host.replace(".i.posthog.com","-assets.i.posthog.com")+"/static/array.js",(r=t.getElementsByTagName("script")[0]).parentNode.insertBefore(p,r);var u=e;for(void 0!==a?u=e[a]=[]:a="posthog",u.people=u.people||[],u.toString=function(t){var e="posthog";return"posthog"!==a&&(e+="."+a),t||(e+=" (stub)"),e},u.people.toString=function(){return u.toString(1)+".people (stub)"},o="init capture register register_once register_for_session unregister unregister_for_session getFeatureFlag getFeatureFlagPayload isFeatureEnabled reloadFeatureFlags updateEarlyAccessFeatureEnrollment getEarlyAccessFeatures on onFeatureFlags onSessionId getSurveys getActiveMatchingSurveys renderSurvey canRenderSurvey identify setPersonProperties group resetGroups setPersonPropertiesForFlags resetPersonPropertiesForFlags setGroupPropertiesForFlags resetGroupPropertiesForFlags reset get_distinct_id getGroups get_session_id get_session_replay_url alias set_config startSessionRecording stopSessionRecording sessionRecordingStarted captureException loadToolbar get_property getSessionProperty createPersonProfile opt_in_capturing opt_out_capturing has_opted_in_capturing has_opted_out_capturing clear_opt_in_out_capturing debug getPageViewId captureTraceFeedback captureTraceMetric".split(" "),n=0;n<o.length;n++)g(u,o[n]);e._i.push([i,s,a])},e.__SV=1)}(document,window.posthog||[]);
    posthog.init('phc_oXYd4lMp4SBelLn8GPm6khaAxdp4lWOeuGAXQYOwDwi', {
        api_host: 'https://stats.platymoose.ninja',
        person_profiles: 'always', // or '' to create profiles for anonymous users as well
    })
    </script>
    </script>{{ if ne .IsNode true }}
    <link href="{{ .Site.BaseURL }}index.xml" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}"/>{{ end }}
    {{ if .IsNode }}
    {{ with .OutputFormats.Get "RSS" }}
    <link href="{{ .RelPermalink }}" rel="alternate" type="application/rss+xml"/>{{ end }}
    {{end}}
  </head>
  <body id="primary-content">
    <div class="pure-g" id="layout">
      <input id="menu-switch" type="checkbox" name="menu-switch">
      <div class="page-wrap content pure-u-1 pure-u-md-5-5" id="pj-wrap">
        <div class="posts textualContent pj-container" id="centerBody" role="main">{{ $paginator := .Paginate ( where (.Site.RegularPages) ".Params.featured" "!=" true ) }}
          <article class="index">
            <h1 class="animated fadeIn slow">
              <nav class="breadcrumb">
                <label class="mt" for="menu-switch"><span>&#9776;</span></label><a class="crumb" title="{{ .Site.Title }}" href="/"><img src="/img/{{ .Site.Params.icon }}"/></a>{{ if $paginator.HasPrev }}<a class="breadcrumb-link hide-sm" href="/">{{ .Site.Params.allPostsHeader }}</a><span class="title-pager breadcrumb-link" title="Page {{$paginator.PageNumber}}"><span class="hide-sm">page</span><small> {{$paginator.PageNumber}}</small></span>{{ else }}<a class="breadcrumb-link hide-sm" href="/">{{ .Site.Params.allPostsHeader }}</a>{{ end }}
              </nav>
            </h1>
            {{ if $paginator.HasPrev }}
            {{ else }}
            <div>
              <h2>{{ .Site.Params.headerText }}</h2>{{ range first 1 (where site.RegularPages "Type" "in" "header" ) }}
              {{ .Content }}
              {{ end }}
            </div>{{ end }}{{ if ne $paginator.HasPrev true }}
            <div class="recently">
              <h4><em>Featured</em></h4>
            </div>
            <div class="animated fadeIn" id="blocks" data-transition="fadeIn">{{ $featured := where (.Site.RegularPages) ".Params.featured" true }}{{ $t2:= .Title }}{{ range $featured}}{{ if ne .Params.unlisted true }}
              {{ if ne .Section "page" }}
              {{ if eq .Section ($t2 | urlize) }}
              {{ .Render "li_incontext" }}
              {{ else }}
              {{ .Render "li" }}
              {{ end }}
              {{ end }}
              {{ end }}
              {{ end }}
            </div>
            <hr style="border: 0.5px solid #ddd; width: 66%">{{ end }}
            <div class="animated fadeIn" id="blocks" data-transition="fadeIn">
              {{ if gt $paginator.TotalPages 1 }}
                {{ if eq $paginator.PageNumber 1 }}
              <div class="recently">
                <h4><em>Recently</em></h4>
              </div>  {{ end }}
              {{ end }}{{if $paginator.HasPrev}}
              <nav class="pagination new-pagination" id="pagination" role="pagination">
                <div class="recently">
                  <!--a.pure-button.button-small.button-inverse.button-secondary.pagination-item.pagination-next(href='{{ $paginator.Prev.URL }}')span Newer Posts
                  --><a class="pagination-item pagination-next pure-button button-inverse" href="{{ $paginator.Prev.URL }}"><span>Newer</span></a>
                  <!--h4.pagination-info
                  em Page
                      strong  {{ $paginator.PageNumber }}
                      |  of
                      strong  {{ $paginator.TotalPages}}
                  
                  -->
                </div>
              </nav>{{end}}{{ $t2:= .Title }}{{ range $index, $page := $paginator.Pages }}{{ if ne .Params.unlisted true }}
              {{ if ne .Section "page" }}
              {{ if ne .Section "header" }}
              {{ if eq .Section ($t2 | urlize) }}
              {{ .Render "li_incontext" }}
              {{ else }}
              {{ .Render "li" }}
              {{ end }}
              {{ end }}
              {{ end }}
              {{ end }}
              {{ end }}
              <nav class="pagination old-pagination" id="pagination" role="pagination">
                <div class="recently">{{if $paginator.HasNext}}
                  <h4 class="pagination-info"><em>Page<strong> {{ $paginator.PageNumber }}</strong> of<strong> {{ $paginator.TotalPages}}</strong></em></h4><a class="pagination-item pagination-prev pure-button button-inverse" href="{{ $paginator.Next.URL }}"><span>Older</span></a>{{ else }}
                  <h4><em>No more posts</em></h4>{{end}}
                </div>
              </nav>
            </div>
          </article>
        </div>
      </div>
      <nav id="menu" role="navigation">
        <div class="menu-brand">
          <h1><a href="/"><img src="/img/{{ .Site.Params.icon }}">{{ .Site.Title | urlize }}</a></h1><strong class="strapline">{{ .Site.Params.tagline }}</strong>
        </div>
        <label class="close" id="menu-toggle" for="menu-switch"></label>
        <nav role="navigation">
          {{ $currentPage := . }}
          {{ range .Site.Menus.main }}
          {{ if ne .Name "Page" }}
          {{ if ne .Name "Header" }}<a class="breadcrumb-link pure-button button-inverse menulink" href="{{.URL}}" title="All {{ .Name | urlize }} posts">{{ .Name | urlize}}</a>{{ end }}
          {{ end }}
          {{ end }}
        </nav>
        <div class="recently">
          <h4><em>Other</em></h4>
        </div>
        <nav class="cb" role="navigation">
          {{ $currentPage := . }}
          {{ range .Site.Menus.custom }}<a class="breadcrumb-link pure-button button-inverse menulink {{ .Pre }}" href="{{.URL}}">{{ .Name | urlize}}</a>{{ end }}
        </nav>
      </nav>{{ if .Site.Params.footer }}
      <footer class="site-footer">
        <article class="pure-g">
          <section class="l-box-lrg pure-u-1 pure-u-md-5-5">
            <h3>{{ .Site.Params.footerTitle }}</h3>
          </section>
          <section class="l-box-lrg pure-u-1 pure-u-md-2-5">
            <nav role="navigation">
              {{ $currentPage := . }}
              {{ range .Site.Menus.main }}
              {{ if ne .Name "Page" }}
              {{ if ne .Name "Header" }}<a class="breadcrumb-link pure-button button-inverse menulink" href="{{.URL}}" title="All {{ .Name | urlize }} posts">{{ .Name | urlize}}</a>{{ end }}
              {{ end }}
              {{ end }}
            </nav>
            <div class="recently"></div>
            <nav class="cb" role="navigation">
              {{ $currentPage := . }}
              {{ range .Site.Menus.custom }}<a class="breadcrumb-link pure-button button-inverse menulink {{ .Pre }}" href="{{.URL}}">{{ .Name | urlize}}</a>{{ end }}
            </nav>
          </section>
          <section class="l-box-lrg pure-u-1 pure-u-md-3-5">
            <p class="footerInfo" style="margin: 0 0 0.5em 0; font-size: 0.85em">{{ .Site.Params.footerText }}</p>
            <nav role="navigation">
              {{ $currentPage := . }}
              {{ range .Site.Menus.footer }}<a class="menulink pure-button button-inverse {{ .Pre }}" href="{{.URL}}">{{ .Name }}</a>{{ end }}
            </nav>
          </section>
          <section class="l-box-lrg pure-u-1 pure-u-md-2-5">
            <h3>Subscribe to my newsletter</h3>
            <form style="padding:0.5em;" action="https://tinyletter.com/platymoose" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/platymoose', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
              <p>
                <label for="tlemail">Enter your email address</label>
              </p>
              <input id="tlemail" type="text" style="width:25em;" name="email"/>
              <p>
                <input type="hidden" value="1" name="embed"/>
                <input type="submit" value="Subscribe"/>
              </p>
            </form>
          </section>
        </article>
      </footer>{{ end }}
    </div>
  </body>
</html>