extends base
include ../mixins/pagination
include ../mixins/navigation

block content
    | {{ $paginator := .Paginate ( where (.Site.RegularPages) ".Params.featured" "!=" true ) }}

    article.index

        +breadcrumbs('Everything')
        +aboutThisSite()
        | {{ if ne $paginator.HasPrev true }}
        +featured()
        #blocks.animated.fadeIn(data-transition='fadeIn')
            +listUnpagedItems('$featured')
        hr(style='border: 0.5px solid #ddd; width: 66%')
        | {{ end }}

        #blocks.animated.fadeIn(data-transition='fadeIn')
            +recently()

            +prevPage()
            +listItems('$paginator')
            +nextPage()